
<div class="hidden-mobile">
    <app-approve-search-option (searchOptionsEmit)="searchOptionsChange($event)"></app-approve-search-option>
</div>
<nz-table
    #ajaxTable
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzData]="listOfData"
    [nzLoading]="loading"
    [nzTotal]="total"
    [(nzPageIndex)]="pageOption.page"
    [(nzPageSize)]="pageOption.page_size"
    (nzPageIndexChange)="pageIndexChange($event)"
    (nzPageSizeChange)="pageSizeChange($event)"
    class="mt-md hidden-mobile">
    <thead>
        <tr>
            <th nzWidth="80px">序号</th>
            <th>非合约信息</th>
            <th>项目信息</th>
            <th>支付信息</th>
            <th>审批状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of ajaxTable.data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
                <sv-container size="small" col="1">
                    <sv label="非合约名称"><span class="font-weight-bold">{{ data.treaty.name }}</span></sv>
                    <sv label="非合约单位"><span class="font-weight-bold">{{ data.treaty.company.name }}</span></sv>
                    <sv label="非合约金额"><span class="text-primary">{{ data.treaty.amount | _currency }}</span></sv>
                    <sv label="抵扣金额">
                        <span *ngIf="data.if_write_off;else notWriteOff">{{ data.write_off_amount | _currency }}</span>
                        <ng-template #notWriteOff>
                            <span class="text-primary">无冲抵金额</span>
                        </ng-template>
                    </sv>
                    
                </sv-container>
            </td>
            <td>{{ data.project?.name }}</td>
            <td>
                <sv-container size="small" col="1">
                    <sv label="收款单位"><span class="font-weight-bold">{{ data.pay_company }}</span></sv>
                    <sv label="银行名称"><span class="font-weight-bold">{{ data.bank_name }}</span></sv>
                    <sv label="银行账号"><span class="text-success">{{ data.bank_account }}</span></sv>
                    <sv label="支付金额"><span class="text-error font-weight-bold">{{ data.amount | currency: 'CNY' }}</span></sv>
                </sv-container>
            </td>
            <td>
                <span class="text-primary text-nowrap" [class.text-error]="data.pay_status?.name === '未通过' || data.pay_status?.name === '无法执行' " [class.text-success]="data.pay_status?.name === '已通过'">{{ data.pay_status?.name }}</span>
            </td>
            <td>
                <!-- <nz-divider nzType="vertical"></nz-divider> -->
                <a (click)="view(data)"><i nz-icon nzType="eye" nzTheme="outline"></i></a>
            </td>
        </tr>
    </tbody>
</nz-table>
<div class="hidden-pc mt-md">
    <div *ngIf="loading && listOfData.length === 0" class="p-md text-center">
        <nz-spin nzSimple></nz-spin>
    </div>
    <div *ngIf="!loading && listOfData.length === 0" class="p-md text-center">
        无数据
    </div>
    <div *ngIf="!loading && listOfData.length !== 0">
        <ng-container *ngFor="let data of listOfData">
            <nz-card [nzActions]="[actionEllipsis]" class="mt-md">
                <nz-skeleton [nzActive]="true" [nzLoading]="false">
                    <nz-card-meta [nzTitle]="treatyTitltTpl"></nz-card-meta>
                    <ng-template #treatyTitltTpl>
                        <span>{{ data.treaty.name }}</span>
                        <span class="text-primary text-xs ml-md" [class.text-error]="data.pay_status?.name === '未通过'" [class.text-success]="data.pay_status?.name === '已通过' || data.pay_status?.name === '无法执行'">{{ data.pay_status?.name }}</span>
                    </ng-template>
                    <div class="pt-md">
                        <sv-container size="small">
                            <sv label="项目名称">{{ data.project?.name }}</sv>
                            <sv label="非合约单位">{{ data.treaty.company.name }}</sv>
                            <sv label="非合约金额"><span class="text-primary">{{ data.treaty.amount | currency: 'CNY' }}</span></sv>
                            <sv label="抵扣金额">
                                <span *ngIf="data.if_write_off;else notWriteOff">{{ data.write_off_amount | currency: 'CNY' }}</span>
                                <ng-template #notWriteOff>
                                    <span class="text-primary">无冲抵金额</span>
                                </ng-template>
                            </sv>
                            <sv label="支付金额"><span class="text-error font-weight-bold">{{ data.amount | currency: 'CNY' }}</span></sv>
                        </sv-container>
                    </div>
                </nz-skeleton>
                <ng-template #actionEllipsis>
                    <a (click)="view(data)"><i nz-icon nzType="eye" nzTheme="outline"></i></a>
                </ng-template>
            </nz-card>
        </ng-container>
        <div class="mt-md text-center">
            <nz-pagination [nzSize]="'small'" nzShowSizeChanger [(nzPageSize)]="pageOption.page_size" [nzPageIndex]="pageOption.page" [nzTotal]="total" (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
        </div>
    </div>
</div>