<page-header [title]="'项目非合约支付管理'" [breadcrumb]="breadcrumb" [action]="action">

  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a [routerLink]="['/dashboard']">首页</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>项目管理</nz-breadcrumb-item>
      <nz-breadcrumb-item>项目预览</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>

  <ng-template #action>
    <button nz-button (click)="printCurrentModal('print-box',  projectInfo?.name)">打印</button>
    <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
      下载 <i nz-icon nzType="download" nzTheme="outline"></i>
    </button>
    <nz-dropdown-menu #opMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="downloadFile('pdf')"><i nz-icon nzType="file-pdf" nzTheme="outline"></i> .pdf</li>
        <li nz-menu-item (click)="downloadFile('image')"><i nz-icon nzType="file-excel" nzTheme="outline"></i> .image
        </li>
      </ul>
    </nz-dropdown-menu>
  </ng-template>

  <app-project-info-show-tpl [projectInfo]="projectInfo"></app-project-info-show-tpl>

</page-header>

<div id="print-box">
  <nz-table #borderedTable nzBordered nzData="[1]" [nzFrontPagination]="false">
    <!-- <ng-template #tableTitle> [nzTitle]="tableTitle"
      <div class="text-center text-lg">成都天府新区人力资源开发服务有限公司</div>
    </ng-template> -->
    <tbody>
      <tr>
        <td colspan="6" class="text-md text-center font-weight-bold">{{ projectInfo?.company.name }}</td>
      </tr>
      <tr>
        <td colspan="6" class="text-md text-center font-weight-bold">项目非合同支付</td>
      </tr>
      <tr>
        <td colspan="2" class="text-md text-center font-weight-bold">项目名称</td>
        <td colspan="4" class="text-md text-center">{{ projectInfo?.name }}</td>
      </tr>
      <tr>
        <td colspan="2" class="text-md text-center font-weight-bold">项目类型</td>
        <td colspan="4" class="text-md text-center">{{ projectInfo?.category?.name }}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">收款单位</td>
        <td colspan="2">{{ treatypayInfo?.pay_company }}</td>
        <td class="font-weight-bold">开户银行</td>
        <td colspan="2">{{ treatypayInfo?.bank_name }}</td>
      </tr>
      <tr>
        <td colspan="2" class="font-weight-bold">银行账号</td>
        <td colspan="4">{{ treatypayInfo?.bank_account }}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">是否抵扣借款</td>
        <td colspan="2">
          <span *ngIf="treatypayInfo">
            {{ treatypayInfo.if_write_off ? '是' : '否' }}
          </span>
        </td>
        <td class="font-weight-bold">抵扣金额</td>
        <td colspan="2">
          <span class="text-nowrap"
            *ngIf="treatypayInfo?.if_write_off;else notWriteOff">{{ treatypayInfo?.write_off_amount | currency: 'CNY' }}</span>
          <ng-template #notWriteOff>
            <span class="font-weight-bold">无冲抵</span>
          </ng-template>
        </td>
      </tr>
      <!-- <tr>
        <td class="font-weight-bold">摘要</td>
        <td colspan="5">
          <div [innerHtml]="contractInfo?.summary | showTextareaContent"></div>
        </td>
      </tr> -->
      <tr>
        <td colspan="6" class="text-right font-weight-bold">单位: 元(人民币)</td>
      </tr>
      <tr class="font-weight-bold">
        <td rowspan="2">序号</td>
        <td rowspan="2">费用类型</td>
        <td rowspan="2">本期支付金额</td>
        <td colspan="2" class="text-center">成本预算</td>
        <td rowspan="2" class="text-center">备注</td>
      </tr>

      <tr class="font-weight-bold">
        <td>费用预算累计金额</td>
        <td>成本类型预算总金额</td>
      </tr>

      <ng-container *ngFor="let data of listOfData;let i = index">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ data.cost.cost_category.name }}</td>
          <td class="text-nowrap">{{ data.amount | _currency }}</td>
          <td class="text-nowrap">{{ data.cost.amount | _currency }}</td>
          <td class="text-nowrap">{{ data.cost.pay_amount | _currency }}</td>
          <td>
            <span [innerHTML]="data.remark | showTextareaContent"></span>
          </td>
        </tr>
      </ng-container>
      <tr>
        <td colspan="2" class="font-weight-bold text-center">合计</td>
        <td>
          <ng-container *ngIf="treatypayInfo">
            <span class="text-nowrap">{{ treatypayInfo.before_deduct_amount | _currency }}</span>
            <span class="ml-sm">{{ treatypayInfo.before_deduct_amount | n2c }}</span>
          </ng-container>
        </td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td colspan="2" class="font-weight-bold text-center">本期支付金额(大写)</td>
        <td colspan="4">
          <ng-container *ngIf="treatypayInfo">
            <span class="text-nowrap">{{ treatypayInfo.amount | _currency }}</span>
            <span class="ml-sm">{{ treatypayInfo.amount | n2c }}</span>
          </ng-container>
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <app-upload-file-attachment-show-c [attachmentUrl]="'/api/attachment/treaty_pay/' + treaty_pay_id">
          </app-upload-file-attachment-show-c>
        </td>
      </tr>

    </tbody>
    <ng-template #tableFooter>
      <div class="text-right">开票日期： {{ '2020/06/06 15:30:22' }}</div>
    </ng-template>
  </nz-table>

</div>
<!-- 支付流程进展： 草稿 不显示 -->
<nz-card [nzBordered]="false" class="mt-md" [nzTitle]="workflowStatusTitle">
  <ng-template #workflowStatusTitle>
    <span>审批进展</span>
    <span class="text-primary ml-md text-sm">{{ progressInfo?.workflow_status.name }}</span>
  </ng-template>
  <ng-container *ngIf="nodeProcess.length !== 0;else nodeProcessLoadingTpl">
    <nz-steps nzDirection="vertical" nzProgressDot class="hidden-pc">
      <nz-step [nzTitle]="'非合约支付申请'" [nzStatus]="'finish'" [nzDescription]="startDes">
        <ng-template #startDes>
          <div class="my-sm">
            {{ projectInfo?.user.name }}
          </div>
          <div>
            {{ projectInfo?.submit_time }}
          </div>
        </ng-template>
      </nz-step>
      <ng-container *ngFor="let process of nodeProcess">
        <nz-step [nzTitle]="process.node.name"
          [nzStatus]=" process.current ? 'process' : ( !process.finished ? 'wait' : ( !process.agree ?  'error' : 'finish') )"
          [nzDescription]="createDesc">
          <ng-template #createDesc>
            <div class="desc">
              <div class="my-sm">
                {{ process.user.name }}
              </div>
              <div *ngIf="process.finished; else notFinished">
                {{ process.finished_time }}
              </div>
              <span class="text-sm text-primary"
                [class.text-error]="process.finished && !process.agree">{{ process.remark }}</span>
              <ng-template #notFinished>
                <!-- TODO:暂不开发 -->
                <!-- <a *ngIf="process.current" (click)="msg.success('click')">催一下</a> -->
              </ng-template>
            </div>
          </ng-template>
        </nz-step>
      </ng-container>

      <nz-step [nzTitle]="'完成'"
        [nzStatus]=" !progressInfo.finished ? 'wait' : ( progressInfo.agree ? 'finish' : 'error' ) "></nz-step>
    </nz-steps>
    <nz-steps nzProgressDot class="hidden-mobile">
      <nz-step [nzTitle]="'非合约支付申请'" [nzStatus]="'finish'" [nzDescription]="startDes">
        <ng-template #startDes>
          <div class="my-sm">
            {{ projectInfo?.user.name }}
          </div>
          <div>
            {{ projectInfo?.submit_time }}
          </div>
        </ng-template>
      </nz-step>
      <ng-container *ngFor="let process of nodeProcess">
        <nz-step [nzTitle]="process.node.name"
          [nzStatus]=" process.current ? 'process' : ( !process.finished ? 'wait' : ( !process.agree ?  'error' : 'finish') )"
          [nzDescription]="createDesc">
          <ng-template #createDesc>
            <div class="desc">
              <div class="my-sm">
                {{ process.user.name }}
              </div>
              <div *ngIf="process.finished; else notFinished">
                {{ process.finished_time }}
              </div>
              <span class="text-sm text-primary"
                [class.text-error]="process.finished && !process.agree">{{ process.remark }}</span>
              <ng-template #notFinished>
                <!-- TODO:暂不开发 -->
                <!-- <a *ngIf="process.current" (click)="msg.success('click')">催一下</a> -->
              </ng-template>
            </div>
          </ng-template>
        </nz-step>
      </ng-container>

      <nz-step [nzTitle]="'完成'"
        [nzStatus]=" !progressInfo.finished ? 'wait' : ( progressInfo.agree ? 'finish' : 'error' ) "
        [nzDescription]="'合约支付审批完成'"></nz-step>
    </nz-steps>

  </ng-container>
  <ng-template #nodeProcessLoadingTpl>
    <div class="p-xl text-center text-lg text-primary">
      <nz-spin></nz-spin>
    </div>
  </ng-template>

  <div class="steps-content" *ngIf="isCurrentCheck">
    <div class="check-box mt-md float-right">
      <nz-radio-group [(ngModel)]="checkOption.agree" [nzButtonStyle]="'solid'">
        <label nz-radio-button [nzValue]="true">通过</label>
        <label nz-radio-button [nzValue]="false">不通过</label>
      </nz-radio-group>
      <textarea nz-input placeholder="请填写审核备注" [(ngModel)]="checkOption.remark"
        [nzAutosize]="{ minRows: 3, maxRows: 6 }" class="my-sm"></textarea>
      <div class="text-right">
        <a nz-popconfirm nz-button [nzType]="'primary'" nzPopconfirmTitle="请确认支付信息已全部查看，且审核无误后确认提交！！！"
          (nzOnConfirm)="submitCheckCurrentProcess()" (nzOnCancel)="cancel()">
          审批
        </a>
      </div>
    </div>
  </div>
</nz-card>
<!-- 支付流程进展： 草稿 不显示 -->

<ng-container *ngIf="progressInfo && progressInfo.execute_user">
  <app-users-execute-flow [payType]="'treaty'" (refresh)="refreshPage()" [payInfo]="treatypayInfo"
    [paymentArr]="listOfData" [approveFlag]="approveFlag" [progressInfo]="progressInfo"
    (executeChange)="executeChange($event)">
  </app-users-execute-flow>
</ng-container>