<form nz-form [formGroup]="validateForm">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="6" *ngFor="let control of controlArray">
            <nz-form-item>
                <nz-form-label [nzSpan]="8" [nzFor]="control.key">{{ control.name }}</nz-form-label>
                <nz-form-control [nzSpan]="14" nzErrorTip="金额填写格式不正确">
                    <nz-input-group nzSuffix="元" nzPrefix="￥" style="width: 100%">
                        <input (ngModelChange)="valueChanges(control.key)" type="text" [attr.placeholder]="'请填写' + control.name" [formControlName]="control.key" [attr.id]="control.key" nz-input />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>