<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form search-option-form">
    <div nz-row [nzGutter]="24">
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8" *ngIf="COMPANY.length > 1">
            <nz-form-item nzFlex>
                <nz-form-label nzFor="company_id">单位</nz-form-label>
                <nz-form-control>
                    <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="请选择单位" formControlName="company_id" [nzDisabled]="COMPANY.length < 2" id="company_id">
                        <ng-container *ngFor="let item of COMPANY">
                            <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                        </ng-container>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <!-- <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
            <nz-form-item nzFlex>
                <nz-form-label nzFor="department">部门</nz-form-label>
                <nz-form-control>
                    <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="请选择部门" formControlName="department" (ngModelChange)="searchValueChange()" id="department">
                        <ng-container *ngFor="let item of departmentArray">
                            <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                        </ng-container>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div> -->
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
            <nz-form-item nzFlex>
                <nz-form-label nzFor="name">名称</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="输入名称查询" formControlName="name" (ngModelChange)="searchValueChange()" id="name" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
            <nz-form-item nzFlex>
                <nz-form-label nzFor="active">状态</nz-form-label>
                <nz-form-control>
                    <nz-radio-group formControlName="active" (ngModelChange)="searchValueChange()" id="active">
                        <label nz-radio [nzValue]="true">有效</label>
                        <label nz-radio [nzValue]="false">无效</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button [nzType]="'primary'" (click)="submit()">查询</button>
            <button  nz-button (click)="resetForm()" class="ml-sm">清空条件</button >
            <button  nz-button (click)="add()" class="ml-sm" [nzType]="'primary'">新增</button >
        </div>
    </div>
</form>