<!-- <button nz-button nzBlock nzType="default" (click)="showModal1($event)"><i nz-icon nzType="folder" nzTheme="outline"></i> 选择附件</button> -->

<div *ngIf="attachmentArray && attachmentArray.length !== 0" class="category-list">

    <ng-container *ngFor="let attachmentCategory of attachmentArray">
        <span class="mr-md point" (click)="showModal1(attachmentCategory.id)">
            {{ attachmentCategory.name }}&nbsp;
            <i *ngIf="attachmentCategory.members.length !== 0" class="text-primary text-md" nz-icon
                nzType="check-square" nzTheme="outline"></i>
            <i *ngIf="attachmentCategory.members.length == 0" class="text-md" nz-icon nzType="border"
                nzTheme="outline"></i>
            &nbsp;
        </span>
    </ng-container>
</div>

<!-- 显示已有附件内容 -->

<sv-container *ngIf="attachmentArray && attachmentArray.length !== 0" class="mt-md" size="small">
    <ng-container *ngFor="let attachmentCategory of attachmentArray">
        <sv [label]="attachmentCategory.name" [col]="1" *ngIf="attachmentCategory.members.length !== 0">
            <ng-container *ngFor="let attachment of attachmentCategory.members; let i = index">
                <div class="clearfix bg-grey-light-h mb-sm pointer px-xs">
                    <span class="mr-md font-weigth-bold float-left">{{ i + 1 }}. </span>
                    <a href="{{ environment.SERVER_URL + attachment.path }}" class="float-left" target="_blank"><i
                            nz-icon nzType="link" nzTheme="outline" class="pr-xs"></i> {{ attachment.name }} <span class="ml-md">（<span class="text-error">{{ attachment.page_nums }}</span> 页）</span></a>
                    <a nz-popconfirm nzPopconfirmTitle="确定删除当前附件？"
                        (nzOnConfirm)="deletedAttachment(attachment.id, attachmentCategory.id)" (nzOnCancel)="cancel()"
                        class="text-error float-right text-danger-h"><i nz-icon nzType="delete"
                            nzTheme="outline"></i></a>
                </div>
            </ng-container>
        </sv>
    </ng-container>
</sv-container>


<nz-modal [(nzVisible)]="isVisible" nzTitle="上传附件" (nzOnCancel)="handleCancel()" nzWrapClassName="modal-lg"
    [nzFooter]="null" [nzMaskClosable]="false">
    <div>
        <form nz-form [formGroup]="validateForm">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="file_name">文件名称</nz-form-label>
                <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="上传文件名称必填!">
                    <input nz-input formControlName="file_name" id="file_name" placeholder="附件名称，如：XXXX项目合同/XXXX会议纪要" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="page_nums">附件页数</nz-form-label>
                <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="附件页数必填，且只需要填写数字即可!">
                    <nz-input-group nzSuffix="张">
                        <input type="text" nz-input formControlName="page_nums" id="page_nums" placeholder="附件页数，只需要填写数字即可。如：5 " />
                      </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="文件必须上传!">
                    <app-upload-file-tpl [isMultiple]="true" formControlName="file" id="file"></app-upload-file-tpl>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
    <div class="text-right">
        <button nz-button nzType="default" (click)="handleCancel()">取消</button>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">提交</button>
    </div>
</nz-modal>