<div class="passport-container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/imgs/logo-color.png">
        <span class="title text-primary">财务共享服务中心</span>
      </div>
      <div class="desc">专业素养，决策支持；勤恳诚信，风险防范</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright" nzTheme="outline"></i> 2020
      <a href="http://www.cdtfhr.com/" target="_blank">天府人资</a>出品 
      <span>管理员：江 涛 028-86510728</span>
    </global-footer>
  </div>
</div>