<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="info-form">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24">
            <nz-form-item>
                <nz-form-label nzFor="name" nzRequired>项目名称</nz-form-label>
                <nz-form-control nzErrorTip="请填写项目名称">
                    <input nz-input placeholder="项目名称" formControlName="name" id="name" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24">
            <nz-form-item>
                <nz-form-label nzFor="customer_ids" nzRequired>客户单位</nz-form-label>
                <nz-form-control nzErrorTip="请选择客户单位">
                    <nz-select style="width: 100%;"
                        nzMode="multiple"
                        nzPlaceHolder="请选择用户"
                        nzDisabled
                        formControlName="customer_ids">
                        <ng-container *ngFor="let item of configs.company">
                            <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                        </ng-container>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col [nzMd]="12" [nzSm]="24">
            <nz-form-item>
                <nz-form-label nzFor="origin_id">项目来源</nz-form-label>
                <nz-form-control>
                    <nz-select style="width: 100%;" id="origin_id" nzShowSearch
                        nzPlaceHolder="请选择项目来源" formControlName="origin_id">
                        <ng-container *ngFor="let item of configs.origin">
                            <nz-option [nzLabel]="item.code.code_name + item.name" [nzValue]="item.id"></nz-option>
                        </ng-container>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzMd]="12" [nzSm]="24">
            <nz-form-item>
                <nz-form-label nzFor="category_id">项目类型</nz-form-label>
                <nz-form-control>
                    <nz-select style="width: 100%;" id="category_id" nzShowSearch
                        nzPlaceHolder="请选择项目类型" formControlName="category_id">
                        <ng-container *ngFor="let item of configs.project_category">
                            <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                        </ng-container>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col [nzMd]="12" [nzSm]="24">
            <nz-form-item>
                <nz-form-label nzFor="plan_time">计划时间</nz-form-label>
                <nz-form-control>
                    <app-range-datepicker id="plan_time" formControlName="plan_time"></app-range-datepicker>
                </nz-form-control>
            </nz-form-item>
            
        </div>
        
        <div nz-col [nzSpan]="24">
            <nz-form-item>
                <nz-form-label nzFor="description">项目描述</nz-form-label>
                <nz-form-control>
                    <textarea nz-input id="description" placeholder="请输入项目描述" formControlName="description" [nzAutosize]="{ minRows: 4, maxRows: 8 }"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24">
            <nz-form-item>
                <nz-form-label nzFor="progress">项目进度</nz-form-label>
                <nz-form-control>
                    <textarea nz-input id="progress" class="progress" placeholder="请填写项目进度，如：&#10; 1. xxxx时间段，完成项目中xxx模块内容； &#10; 2. xxxx时间完成了项目xxx内容；" formControlName="progress" [nzAutosize]="{ minRows: 4, maxRows: 8 }"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24">
            <nz-form-item>
                <nz-form-label style="line-height: 40px;">项目附件</nz-form-label>
                <nz-form-control>
                    <app-upload-file-attachment-tpl [Attachment]="attachment" [project_type]="'adjustment_project'" [AttachmentCategory]="attachmentCategory"
    [isAttachmentChange]="isAttachmentChange" (attachmentChange)="attachmentChange($event)"></app-upload-file-attachment-tpl>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="24" class="text-right">
            <a [nzLoading]="submitLoading" [disabled]="!validateForm.valid" nz-popconfirm class="text-nowrap" nz-button nzType="primary" nzPopconfirmTitle="请确认项目信息调整内容是否已经全部填写完整，仔细核对无误后确认提交！！！"
                        (nzOnConfirm)="submitForm()" (nzOnCancel)="cancel()">
                        保存项目信息调整表单
            </a>
        </nz-form-control>
    </nz-form-item>
</form>


<!-- <a [nzLoading]="submitLoading" [disabled]="!validateForm.valid" nz-popconfirm class="text-nowrap" nz-button nzType="primary" nzPopconfirmTitle="请确认项目信息全部填写完整，无误后确认提交！！！"
                        (nzOnConfirm)="submitForm()" (nzOnCancel)="cancel()">
                        生成调整表
                    </a> -->