<page-header [title]="'已开发票'" [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item><a [routerLink]="['/dashboard']">首页</a></nz-breadcrumb-item>
            <nz-breadcrumb-item><a [routerLink]="['/financial/bill']">财务处理凭证</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>已开发票</nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>

    <!-- <ng-template #tab>
        <nz-tabset [nzSelectedIndex]="pos">
            <nz-tab *ngFor="let i of tabs" [nzTitle]="i.name" (nzClick)="to(i)">
            </nz-tab>
        </nz-tabset>
    </ng-template> -->
</page-header>

<nz-card [nzBordered]="false">
    <app-financial-bill-search [type_name]="type_name" (outer)="readOuter()"></app-financial-bill-search>
</nz-card>