
<div class="hidden-mobile">
    <app-bill-apply-project-search [COMPANY]="companyArray" (searchOptionsEmit)="searchOptionsChange($event)"></app-bill-apply-project-search>
</div>
<nz-table
    #ajaxTable
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzData]="listOfData"
    [nzLoading]="loading"
    [nzTotal]="total"
    [(nzPageIndex)]="pageOption.page"
    [(nzPageSize)]="pageOption.page_size"
    (nzPageIndexChange)="pageIndexChange($event)"
    (nzPageSizeChange)="pageSizeChange($event)"
    class="mt-md hidden-mobile">
    <thead>
        <tr>
            <th nzWidth="80px">序号</th>
            <th>发票类型</th>
            <th>金额(元)</th>
            <th>客户信息</th>
            <th>申请人</th>
            <th>状态</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of ajaxTable.data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ data.bill_category.name }}</td>
            <td class="text-error">{{ data.amount | currency: 'CNY' }}</td>
            <td>
                <sv-container size="small" col="1">
                    <sv label="单位">{{ data.customer.name }}</sv>
                    <sv label="地址">{{ data.customer.address }}</sv>
                    <sv label="电话">{{ data.customer.tel }}</sv>
                </sv-container>
            </td>
            <td>
                <sv-container size="small" col="1">
                    <sv label="申请人">{{ data.user.name }}</sv>
                    <sv label="部&nbsp;&nbsp;&nbsp;门">{{ data.department.name }}</sv>
                    <sv label="公&nbsp;&nbsp;&nbsp;司">{{ data.company.name }}</sv>
                </sv-container>
            </td>
            <td class="text-primary text-nowrap" [class.text-error]="data.bill_status.name === '无法执行'">{{ data.bill_status.name }}</td>
            <td>
                <span [innerHTML]="data.remark | showTextareaContent"></span>
            </td>
            <td>
                <a [routerLink]="['/bill/approve/view', data.id]" [queryParams]="{ project_id: data.project.id }"><i nz-icon nzType="eye" nzTheme="outline"></i></a>
            </td>
        </tr>
    </tbody>
</nz-table>
<div class="hidden-pc mt-md">
    <div *ngIf="loading && listOfData.length === 0" class="p-md text-center">
        <nz-spin nzSimple></nz-spin>
    </div>
    <div *ngIf="!loading && listOfData.length !== 0">
        <ng-container *ngFor="let data of listOfData">
            <nz-card [nzActions]="[actionEdit]" class="mt-md">
                <nz-skeleton [nzActive]="true" [nzLoading]="false">
                    <nz-card-meta [nzTitle]="treatyTitltTpl"></nz-card-meta>
                    <ng-template #treatyTitltTpl>
                        <span>{{ data.bill_category.name }}</span>
                    </ng-template>
                    <div class="pt-md">
                        <sv-container size="small">
                            <sv label="发票金额"><span class="font-weight-bold">{{ data.amount | currency: 'CNY' }}</span></sv>
                            <sv label="申请人">{{ data.user.name }}</sv>
                            <sv label="部&nbsp;&nbsp;&nbsp;门">{{ data.department.name }}</sv>
                            <sv label="公&nbsp;&nbsp;&nbsp;司">{{ data.company.name }}</sv>
                            <sv label="开票单位">{{ data.customer.name }}</sv>
                            <sv label="开票地址">{{ data.customer.address }}</sv>
                        </sv-container>
                    </div>
                </nz-skeleton>
                <ng-template #actionEdit>
                    <a [routerLink]="['/bill/approve/view', data.id]" [queryParams]="{ project_id: data.project.id }"><i nz-icon nzType="eye" nzTheme="outline"></i></a>
                </ng-template>
            </nz-card>
        </ng-container>
        <div class="mt-md text-center">
            <nz-pagination [nzSize]="'small'" nzShowSizeChanger [(nzPageSize)]="pageOption.page_size" [nzPageIndex]="pageOption.page" [nzTotal]="total" (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
        </div>
    </div>
</div>