<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>类型名称</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请输入项目成本类型名称">
            <input nz-input id="name" formControlName="name" placeholder="输入项目成本类型名称" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="code" nzRequired>类型代码</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请输入项目成本类型代码">
            <input nz-input id="code" formControlName="code" placeholder="输入项目成本类型代码" />
        </nz-form-control>
    </nz-form-item>
    <ng-container *ngIf="!data">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="company" nzRequired>所属单位</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请选择项目成本类型所属单位">
                <nz-select style="width: 100%;" id="company" nzShowSearch nzAllowClear nzPlaceHolder="请选择项目成本类型所属单位" [nzDisabled]="companyId" formControlName="company_id">
                    <ng-container *ngFor="let item of COMPANY">
                        <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                    </ng-container>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </ng-container>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">类型描述</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
            <textarea
                nz-input
                id="description"
                placeholder="请填写项目成本类型描述"
                formControlName="description"
                [nzAutosize]="{ minRows: 4, maxRows: 6 }"
            ></textarea>
        </nz-form-control>
    </nz-form-item>
    
    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="18" [nzOffset]="6">
            <button nz-button nzType="primary">{{ data ? '保存' : '新增' }}</button>
        </nz-form-control>
    </nz-form-item>
</form>