<page-header></page-header>

<div class="hidden-pc search-btn-mobile rounded-sm bg-primary text-white text-lg text-center">
    <i nz-icon nzType="menu-{{ isCollapsed ? 'unfold' : 'fold' }}" nzTheme="outline" (click)="openComponent()"></i>
</div>

<div class="hidden-mobile">
    <app-product-search-option [COMPANY]="companyArray" [isAdd]="false" (searchOptionsEmit)="searchOptionsChange($event)"></app-product-search-option>
</div>
<nz-table
    #ajaxTable
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzData]="listOfData"
    [nzLoading]="loading"
    [nzTotal]="total"
    [(nzPageIndex)]="pageOption.page"
    [(nzPageSize)]="pageOption.page_size"
    (nzPageIndexChange)="pageIndexChange($event)"
    (nzPageSizeChange)="pageSizeChange($event)"
    class="mt-md hidden-mobile">
    <thead>
        <tr>
            <th>序号</th>
            <th>项目</th>
            <th>编号</th>
            <th>类型</th>
            <th>来源</th>
            <th>创建人</th>
            <th>部门</th>
            <th>单位</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of ajaxTable.data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.number }}</td>
            <td>{{ data.category?.name }}</td>
            <td>{{ data.origin?.code.code_name + data.origin?.name }}</td>
            <td>{{ data.user?.name }}</td>
            <td>{{ data.department?.name }}</td>
            <td>{{ data.company?.name }}</td>
            <td>
                <a (click)="view(data)"><i nz-icon nzType="eye" nzTheme="outline"></i></a>
            </td>
        </tr>
    </tbody>
</nz-table>
<div class="hidden-pc mt-md">
    <div *ngIf="loading && listOfData.length === 0" class="p-md text-center">
        <nz-spin nzSimple></nz-spin>
    </div>
    <div *ngIf="!loading && listOfData.length !== 0">
        <ng-container *ngFor="let data of listOfData">
            <nz-card [nzActions]="[actionEdit, actionEllipsis]" class="mt-md">
                <nz-skeleton [nzActive]="true" [nzLoading]="false">
                    <nz-card-meta [nzTitle]="data.name"></nz-card-meta>
                    <div class="pt-md">
                        <div>类型： {{ data.category?.name }}</div>
                        <div>来源： {{ data.origin?.code.code_name + data.origin?.name }}</div>
                        <div>部门： {{ data.department.name }}</div>
                        <!-- <div>描述： {{ data.description }}</div> -->
                    </div>
                </nz-skeleton>
                <ng-template #actionEdit>
                    <!-- <i nz-icon nzType="edit" (click)="edit(data)"></i> -->
                </ng-template>
                <ng-template #actionEllipsis>
                    <a (click)="view(data)"><i nz-icon nzType="eye" nzTheme="outline"></i></a>
                </ng-template>
            </nz-card>
        </ng-container>
        <div class="mt-md text-center">
            <nz-pagination [nzSize]="'small'" nzShowSizeChanger [(nzPageSize)]="pageOption.page_size" [nzPageIndex]="pageOption.page" [nzTotal]="total" (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
        </div>
    </div>
</div>