<page-header [action]="action">

    <ng-template #action>
        <button class="hidden-pc" nz-button (click)="add()" [nzType]="'primary'">新增</button >
    </ng-template>
</page-header>

<div class="hidden-pc search-btn-mobile rounded-sm bg-primary text-white text-lg text-center">
    <i nz-icon nzType="menu-{{ isCollapsed ? 'unfold' : 'fold' }}" nzTheme="outline" (click)="openComponent()"></i>
</div>

<div class="hidden-mobile">
    <app-list-search-option (searchOptionsEmit)="searchOptionsChange($event)" (addContentEmit)="add()"
        (operateDataEmit)="operateData($event)"></app-list-search-option>
</div>

<nz-table #basicTable [nzData]="listOfData" [nzLoading]="loading" nzShowPagination nzShowSizeChanger
    [nzPageSizeOptions]="[ 10, 20, 30, 40, 50, 100, 200, 500 ]"
    (nzCurrentPageDataChange)="currentPageDataChange($event)" class="mt-md hidden-mobile">
    <thead>
        <tr>
            <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
                (nzCheckedChange)="checkAll($event)"></th>
            <th>单位</th>
            <th width="250">编码</th>
            <th width="450">基础信息</th>
            <th width="120">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data; let i = index">
            <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
            <td>{{ data.name }}</td>
            <td>
                <sv-container col="1" size="small">
                    <sv label="供&nbsp;&nbsp;应&nbsp;&nbsp;商">
                        <span *ngIf="data.customer; else notCustomer">
                            {{ data.customer_code }}
                        </span>
                        <ng-template #notCustomer>
                            <span class="text-error"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                        </ng-template>
                    </sv>
                    <sv label="客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户">
                        <span *ngIf="data.supplier; else notSupplier">
                            {{ data.supplier_code }}
                        </span>
                        <ng-template #notSupplier>
                            <span class="text-error"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                        </ng-template>
                    </sv>
                </sv-container>
                
            </td>
            <td>
                <sv-container col="1" size="small">
                    <sv label="法人">{{ data.represent }}</sv>
                    <sv label="电话">{{ data.tel}}</sv>
                    <sv label="地址">{{ data.address}}</sv>
                    <sv label="统一社会信用代码">{{ data.code }}</sv>
                </sv-container>
            </td>
            
            <td>
                <a acl [acl-ability]="'modify_user_company'" (click)="edit(data)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="view(data)"><i nz-icon nzType="eye" nzTheme="outline"></i></a>
            </td>
        </tr>
    </tbody>
</nz-table>
<div class="hidden-pc mt-md">
    <div *ngIf="loading && listOfData.length === 0" class="p-md text-center">
        <nz-spin nzSimple></nz-spin>
    </div>
    <div *ngIf="!loading && listOfData.length !== 0">
        <ng-container *ngFor="let data of mobilePageList">
            <nz-card [nzActions]="[actionEdit, actionEllipsis]" class="mt-md">
                <nz-skeleton [nzActive]="true" [nzLoading]="false">
                    <nz-card-meta [nzTitle]="data.name"></nz-card-meta>
                    <div class="pt-md">
                        <sv-container col="1" size="small">
                            <sv label="供&nbsp;&nbsp;应&nbsp;&nbsp;商">
                                <span *ngIf="data.customer; else notCustomer">
                                    {{ data.customer_code }}
                                </span>
                                <ng-template #notCustomer>
                                    <span class="text-error"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                                </ng-template>
                            </sv>
                            <sv label="客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户">
                                <span *ngIf="data.supplier; else notSupplier">
                                    {{ data.supplier_code }}
                                </span>
                                <ng-template #notSupplier>
                                    <span class="text-error"><i nz-icon nzType="close" nzTheme="outline"></i></span>
                                </ng-template>
                            </sv>
                            <sv label="法人">{{ data.represent }}</sv>
                            <sv label="电话">{{ data.tel}}</sv>
                            <sv label="地址">{{ data.address}}</sv>
                            <sv label="统一社会信用代码">{{ data.code }}</sv>
                        </sv-container>
                    </div>
                </nz-skeleton>
                
                <ng-template #actionEdit>
                    <a acl [acl-ability]="'modify_user_company'" (click)="edit(data)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
                </ng-template>
                <ng-template #actionEllipsis>
                    <a (click)="view(data)"><i nz-icon nzType="eye" nzTheme="outline"></i></a>
                </ng-template>
            </nz-card>
        </ng-container>
        <div class="mt-md text-center">
            <nz-pagination [nzSize]="'small'" [nzPageIndex]="currentPage" [nzTotal]="listOfData.length" (nzPageIndexChange)="nzPageIndexChange($event)"></nz-pagination>
        </div>
    </div>
</div>