<page-header [title]="pageTitle" [breadcrumb]="breadcrumb" [action]="actionBtn">

  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a [routerLink]="['/dashboard']">首页</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>合约支付管理</nz-breadcrumb-item>
      <nz-breadcrumb-item>合约支付申请</nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/approve/list']">项目列表</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/approve/contract/apply/pay', projectId]">项目合约支付管理</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ pageTitle }}</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #actionBtn>
    <button nz-button (click)="printCurrentModal('print-box',  projectInfo?.name)">打印</button>
    <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
      下载 <i nz-icon nzType="download" nzTheme="outline"></i>
    </button>
    <nz-dropdown-menu #opMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="downloadFile('pdf')"><i nz-icon nzType="file-pdf" nzTheme="outline"></i> .pdf</li>
        <li nz-menu-item (click)="downloadFile('image')"><i nz-icon nzType="file-excel" nzTheme="outline"></i> .image
        </li>
      </ul>
    </nz-dropdown-menu>
    <!-- <ng-container *ngIf="selectedFlag && summary && listOfData.length !== 0 "> -->
    <ng-container>
      <button *ngIf="!contractInfo || contractInfo.draft" nz-button [nzType]="'dashed'" (click)="submitPayAmount()"
        [nzLoading]="submitLoading" class="ml-xs">保存</button>

      <ng-container *ngIf="!contractInfo || contractInfo.draft">
        <button *ngIf="contract_pay_id && contractInfo?.amount===contractInfo?.tax_use_amount" nz-popconfirm nz-button
          [nzType]="'primary'" class="ml-xs" nzPopconfirmTitle="请确认合约支付信息填写完整，无误后继续提交！！！"
          (nzOnConfirm)="submitContractPay()" (nzOnCancel)="cancel()">
          提交
        </button>
      </ng-container>
    </ng-container>

  </ng-template>

  <app-project-info-show-tpl [projectInfo]="projectInfo"></app-project-info-show-tpl>

</page-header>
<div id="print-box">
  <!-- 合同支付摘要信息 -->
  <nz-card nzTitle="支付摘要" [nzBordered]="false" *ngIf="!contractInfo || contractInfo.draft" class="mt-md">
    <textarea nz-input id="summary" placeholder="填写合同支付摘要信息" [(ngModel)]="summary"
      [nzAutosize]="{ minRows: 3, maxRows: 6 }"></textarea>
  </nz-card>

  <nz-card nzTitle="项目合同" [nzBordered]="false" [nzExtra]="contractTpl">
    <ng-template #contractTpl>
      <nz-select style="min-width: 300px;" nzShowSearch nzPlaceHolder="请选择支付合同" [nzDisabled]="contract_pay_id"
        [(ngModel)]="contract_id" (ngModelChange)="contractValueChange()">
        <ng-container *ngFor="let item of contractList">
          <nz-option [nzLabel]="item.contract.name + (item.split_contract ? '（分割合同）' : '')"
            [nzValue]="item.contract.id"></nz-option>
        </ng-container>
      </nz-select>
    </ng-template>

    <sv-container size="small" col="2" *ngIf="selectedContract;else notSelectedContract">
      <!-- <sv label="供应商客户编号"><strong>{{ selectedContract.name }}</strong></sv> -->
      <sv label="合同名称">{{ selectedContract.contract.name }}</sv>
      <sv label="收款单位">{{ selectedContract.contract.pay_company }}</sv>
      <sv label="合同编号">{{ selectedContract.contract.number }}</sv>
      <sv label="开户银行">{{ selectedContract.contract.bank_name }}</sv>
      <sv label="合同单位"><strong>{{ selectedContract.contract.supplier?.name }}</strong></sv>
      <sv label="银行账号">{{ selectedContract.contract.bank_account }}</sv>
      <sv label="合同金额"><span class="mr-md">{{ selectedContract.contract.amount | _currency }}</span></sv>
      <sv label="已使用金额"><span class="mr-md">{{ selectedContract.contract.use_amount | _currency }}</span></sv>
      <sv label="合同附件">
        <div>
          <app-upload-file-attachment-show-c [attachmentUrl]="'/api/attachment/contract/' + contract_id"
            [isShowName]="false"></app-upload-file-attachment-show-c>
        </div>
      </sv>
      <ng-container *ngIf="selectedContract.contract.is_split">
        <sv-title style="font-weight:700;">分割合同</sv-title>
        <!-- <sv col="3" label="分割合同"><span class="text-primary">是</span></sv> -->
        <sv col="3" label="分割总金额"><span class="mr-md">{{ selectedContract.split_contract.amount | _currency }}</span>
        </sv>
        <sv col="3" label="已使用分割金额"><span
            class="mr-md">{{ selectedContract.split_contract.use_amount | _currency }}</span></sv>
      </ng-container>
      <ng-container>
        <sv-title>开票金额</sv-title>
        <sv col="3" label="开票总金额"><span class="mr-md">{{ contractTaxTotal || 0 | _currency }}</span>
        </sv>
      </ng-container>
    </sv-container>
    <ng-template #notSelectedContract>
      <div class="text-center my-lg text-grey text-lg">暂未选择合同</div>
    </ng-template>
    <!-- <div *ngIf="selectedContract" class="py-sm">
      <app-upload-file-attachment-show-c [attachmentUrl]="'/api/attachment/contract/' + selectedContract.id">
      </app-upload-file-attachment-show-c>
    </div> -->
    <div style="display: flex;justify-content: flex-end;">
      <button *ngIf="!contractInfo || contractInfo.draft" nz-button [disabled]="saveDisable" [nzType]="'primary'"
        (click)="submitSum()">保存</button>
    </div>


  </nz-card>

  <!-- 成本支付 -->
  <nz-card nzTitle="成本支付" [nzBordered]="false" [nzExtra]="costTpl" class="mt-md" *ngIf="selectedFlag">
    <ng-template #costTpl>
      <button *ngIf="!contractInfo || contractInfo.draft" nz-button [nzType]="'primary'"
        (click)="addPaymentCost(tplTitle, tplContent, tplFooter, $event)">新增成本支付</button>
    </ng-template>

    <div class="hidden-mobile">
      <nz-table #costSelectTable [nzData]="listOfData" [nzFrontPagination]="false">
        <thead>
          <tr>
            <th nzWidth="80px">票号</th>
            <th>成本类型</th>
            <th>本期支付（元）</th>
            <th>开票金额</th>
            <th nzWidth="250px">支付统计</th>
            <th>描述</th>
            <th *ngIf="!contractInfo || contractInfo.draft">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of costSelectTable.data; let i = index">
            <td>{{ i + 1}}</td>
            <td>{{ data.cost.cost_category.name }}</td>
            <td>{{ data.amount | _currency}}</td>
            <td>{{ data.tax_use_amount | _currency}}</td>
            <td>
              <sv-container size="small" col="1">
                <sv label="预算金额"><span>{{ data.cost.amount | currency: 'CNY' }}</span></sv>
                <sv label="累计支付"><span>{{ data.cost.pay_amount | currency: 'CNY' }}</span></sv>
                <sv label="剩余支付"><span>{{ (data.cost.amount - data.cost.pay_amount) | currency: 'CNY' }}</span></sv>
              </sv-container>
            </td>
            <td>
              <span [innerHTML]="data.remark | showTextareaContent"></span>
            </td>
            <td *ngIf="!contractInfo || contractInfo.draft">
              <a (click)="edit(tplTitle, tplContent, tplFooter, data, i)"><i nz-icon nzType="edit"
                  nzTheme="outline"></i></a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-popconfirm nzPopconfirmTitle="确认删除当前成本支付?" (nzOnConfirm)="delete(data.cost.id)"
                (nzOnCancel)="cancel()">删除</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>

    <div class="hidden-pc">
      <ng-container *ngFor="let data of listOfData; let i = index">
        <nz-card [nzActions]=" (!contractInfo || contractInfo.draft) ? [actionEdit, actionDelete] : [] " class="mt-md">
          <nz-skeleton [nzActive]="true" [nzLoading]="false">
            <nz-card-meta [nzTitle]="treatyTitltTpl"></nz-card-meta>
            <ng-template #treatyTitltTpl>
              <span>{{ data.cost.cost_category.name }}</span>
            </ng-template>
            <div class="pt-md">
              <sv-container size="small">
                <sv label="总计支付"><span>{{ data.cost.amount | currency: 'CNY' }}</span></sv>
                <sv label="累计支付"><span>{{ data.cost.pay_amount | currency: 'CNY' }}</span></sv>
                <sv label="剩余支付"><span
                    class="text-primary">{{ (data.cost.amount - data.cost.pay_amount) | currency: 'CNY' }}</span></sv>
                <sv label="本期支付"><span class="font-weight-bold">{{ data.amount | currency: 'CNY' }}</span>
                </sv>
                <sv label="描述"><span [innerHTML]="data.remark | showTextareaContent"></span></sv>
              </sv-container>
            </div>
          </nz-skeleton>

          <ng-template #actionEdit>
            <a (click)="edit(tplTitle, tplContent, tplFooter, data, i)"><i nz-icon nzType="edit"
                nzTheme="outline"></i></a>
          </ng-template>
          <ng-template #actionDelete>
            <a nz-popconfirm nzPopconfirmTitle="确认删除当前成本支付?" (nzOnConfirm)="delete(data.cost.id)"
              (nzOnCancel)="cancel()">删除</a>
          </ng-template>
        </nz-card>
      </ng-container>
    </div>
    <!-- edit -->

  </nz-card>

  <!-- 发票台账 -->
  <nz-card nzTitle="发票台账" [nzBordered]="false" [nzExtra]="costTpl" class="mt-md" *ngIf="listOfData.length>0">
    <ng-template #costTpl>
      <button *ngIf="!contractInfo || contractInfo.draft" nz-button [nzType]="'primary'"
        (click)="addBillTicket(billTitle, billContent, billFooter, $event)">新增发票台账</button>
    </ng-template>

    <div class="hidden-mobile">
      <nz-table #taxSelectTable [nzData]="listOfTax" [nzFrontPagination]="false">
        <thead>
          <tr>
            <th nzWidth="80px">序号</th>
            <th nzWidth="80px">票号</th>
            <th>成本类型</th>
            <th>发票类型</th>
            <th nzWidth="250px">金额</th>
            <th *ngIf="!contractInfo || contractInfo.draft">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of taxSelectTable.data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ data.invoice_number===null?'无':data.invoice_number }}</td>
            <td>{{ data.contract_payment.cost.cost_category.name }}</td>
            <td>{{ data.bill_category===null?'未开发票':data.bill_category.name }}</td>
            <td>
              <sv-container size="small" col="1">
                <sv label="除税金额"><span>{{ data.exclude_tax_amount | currency: 'CNY' }}</span></sv>
                <sv label="税金"><span>{{ data.tax_amount | currency: 'CNY' }}</span></sv>
                <sv label="总金额"><span>{{ data.amount | currency: 'CNY' }}</span></sv>
              </sv-container>
            </td>
            <td *ngIf="!contractInfo || contractInfo.draft">
              <a (click)="editBillTicket(billTitle, billContent, billFooter, data, i)"><i nz-icon nzType="edit"
                  nzTheme="outline"></i></a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-popconfirm nzPopconfirmTitle="确认删除当前发票台账?" (nzOnConfirm)="deleteTax(data.id)"
                (nzOnCancel)="cancel()">删除</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <div class="text-right" *ngIf="contractInfo">
        <span class="font-weight-bold">总金额： {{ contractInfo.amount | _currency }}</span>
        <span class="font-weight-bold mx-md">开票总金额： {{ contractInfo.tax_use_amount | _currency }}</span>
      </div>
    </div>

    <div class="hidden-pc">
      <ng-container *ngFor="let data of listOfTax; let i = index">
        <nz-card [nzActions]=" (!contractInfo || contractInfo.draft) ? [actionEdit, actionDelete] : [] " class="mt-md">
          <nz-skeleton [nzActive]="true" [nzLoading]="false">
            <nz-card-meta [nzTitle]="treatyTitltTpl"></nz-card-meta>
            <ng-template #treatyTitltTpl>
              <span>{{ data.contract_payment.cost.cost_category.name }}</span>
            </ng-template>
            <div class="pt-md">
              <sv-container size="small">
                <sv label="票号"><span>{{ data.invoice_number }}</span></sv>
                <sv label="成本类型"><span>{{ data.contract_payment.cost.cost_category.name }}</span></sv>
                <sv label="发票类型"><span
                    class="font-weight-bold">{{ data.bill_category===null?'未开发票':data.bill_category.name  }}</span>
                </sv>
                <sv label="除税金额"><span class="font-weight-bold">{{ data.exclude_tax_amount | currency: 'CNY' }}</span>
                </sv>
                <sv label="税金"><span class="font-weight-bold">{{ data.tax_amount | currency: 'CNY' }}</span>
                </sv>
                <sv label="总金额"><span class="font-weight-bold">{{ data.amount | currency: 'CNY' }}</span>
                </sv>
              </sv-container>
            </div>
          </nz-skeleton>

          <ng-template #actionEdit>
            <a (click)="editBillTicket(billTitle, billContent, billFooter, data, i)"><i nz-icon nzType="edit"
                nzTheme="outline"></i></a>
          </ng-template>
          <ng-template #actionDelete>
            <a nz-popconfirm nzPopconfirmTitle="确认删除当前成本支付?" (nzOnConfirm)="deleteTax(data.id)"
              (nzOnCancel)="cancel()">删除</a>
          </ng-template>
        </nz-card>
      </ng-container>
    </div>
    <!-- edit -->

  </nz-card>

  <!-- 附件显示 -->
  <nz-card nzTitle="附件" [nzBordered]="false" *ngIf="contractInfo && !contractInfo.draft" class="mt-md">
    <app-upload-file-attachment-show-c [attachmentUrl]="'/api/attachment/contract_pay/' + contractInfo.id">
    </app-upload-file-attachment-show-c>
  </nz-card>

  <nz-card nzTitle="合约支付附件" [nzBordered]="false" class="mt-md" *ngIf="!contractInfo || contractInfo.draft">
    <app-upload-file-attachment-tpl [Attachment]="attachment" [AttachmentCategory]="attachmentCategory"
      [isAttachmentChange]="isAttachmentChange" (attachmentChange)="attachmentChange($event)">
    </app-upload-file-attachment-tpl>
  </nz-card>

</div>
<!-- 流程进展  新增或者编辑时，不显示流程情况 -->
<!-- <ng-container *ngIf="contractInfo && !contractInfo.draft">
  <nz-card [nzBordered]="false" class="mt-md" [nzTitle]="workflowStatusTitle">
    <ng-template #workflowStatusTitle>
      <span>审批进展</span>
      <span class="text-primary ml-md text-sm">{{ progressInfo?.workflow_status.name }}</span>
    </ng-template>
    <ng-container *ngIf="nodeProcess.length !== 0;else nodeProcessLoadingTpl">
      <nz-steps nzDirection="vertical" nzProgressDot class="hidden-pc">
        <nz-step [nzTitle]="'合约支付申请'" [nzStatus]="'finish'" [nzDescription]="startDes">
          <ng-template #startDes>
            <div class="my-sm">
              {{ projectInfo?.user.name }}
            </div>
            <div>
              {{ projectInfo?.submit_time }}
            </div>
          </ng-template>
        </nz-step>
        <ng-container *ngFor="let process of nodeProcess">
          <nz-step [nzTitle]="process.node.name"
            [nzStatus]=" process.current ? 'process' : ( !process.finished ? 'wait' : ( !process.agree ?  'error' : 'finish') )"
            [nzDescription]="createDesc">
            <ng-template #createDesc>
              <div class="desc">
                <div class="my-sm">
                  {{ process.user.name }}
                </div>
                <div *ngIf="process.finished; else notFinished">
                  {{ process.finished_time }}
                </div>
                <span class="text-sm text-primary"
                  [class.text-error]="process.finished && !process.agree">{{ process.remark }}</span>
                <ng-template #notFinished>
                </ng-template>
              </div>
            </ng-template>
          </nz-step>
        </ng-container>

        <nz-step [nzTitle]="'完成'"
          [nzStatus]=" !progressInfo.finished ? 'wait' : ( progressInfo.agree ? 'finish' : 'error' ) "></nz-step>
      </nz-steps>
      <nz-steps nzProgressDot class="hidden-mobile">
        <nz-step [nzTitle]="'合约支付申请'" [nzStatus]="'finish'" [nzDescription]="startDes">
          <ng-template #startDes>
            <div class="my-sm">
              {{ projectInfo?.user.name }}
            </div>
            <div>
              {{ projectInfo?.submit_time }}
            </div>
          </ng-template>
        </nz-step>
        <ng-container *ngFor="let process of nodeProcess">
          <nz-step [nzTitle]="process.node.name"
            [nzStatus]=" process.current ? 'process' : ( !process.finished ? 'wait' : ( !process.agree ?  'error' : 'finish') )"
            [nzDescription]="createDesc">
            <ng-template #createDesc>
              <div class="desc">
                <div class="my-sm">
                  {{ process.user.name }}
                </div>
                <div *ngIf="process.finished; else notFinished">
                  {{ process.finished_time }}
                </div>
                <span class="text-sm text-primary"
                  [class.text-error]="process.finished && !process.agree">{{ process.remark }}</span>
                <ng-template #notFinished>
                </ng-template>
              </div>
            </ng-template>
          </nz-step>
        </ng-container>

        <nz-step [nzTitle]="'完成'"
          [nzStatus]=" !progressInfo.finished ? 'wait' : ( progressInfo.agree ? 'finish' : 'error' ) "
          [nzDescription]="'合约支付审批完成'"></nz-step>
      </nz-steps>

    </ng-container>
    <ng-template #nodeProcessLoadingTpl>
      <div class="p-xl text-center text-lg text-primary">
        <nz-spin></nz-spin>
      </div>
    </ng-template>

  </nz-card>

  <ng-container *ngIf="progressInfo && progressInfo.execute_user">
    <app-users-execute-flow [progressInfo]="progressInfo" (executeChange)="executeChange($event)">
    </app-users-execute-flow>
  </ng-container>
</ng-container> -->


<!-- 流程进展 -->

<!-- 成本支付新增 modal -->

<ng-template #tplTitle>
  <span *ngIf="!isEditCost">添加成本支付</span>
  <span *ngIf="isEditCost">修改成本支付</span>
</ng-template>
<ng-template #tplContent>
  <div class="modal-form">
    <form nz-form [formGroup]="validateCostForm">
      <nz-form-item>
        <nz-form-label nzFor="cost_id" nzRequired>成本类型</nz-form-label>
        <nz-form-control nzErrorTip="请选择成本类型">
          <nz-select style="width: 100%;" id="cost_id" nzShowSearch [nzDisabled]="isEditCost" nzPlaceHolder="请选择成本类型"
            formControlName="cost_id">
            <ng-container *ngFor="let item of costArr">
              <nz-option [nzLabel]="item.name" [nzValue]="item.id" [nzDisabled]="item.disabled"></nz-option>
            </ng-container>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="amount" nzRequired>支付金额</nz-form-label>
        <nz-form-control [nzErrorTip]="errorAmountTpl">
          <nz-input-group nzSuffix="元" nzPrefix="￥" style="width: 100%">
            <input type="text" id="amount"
              [placeholder]="'填写成本支付金额' +  (currentSelectCost ? '，不得超过' + (currentSelectCost.max - currentSelectCost.pay_amount > selectedContract.amount ? selectedContract.amount : (currentSelectCost.max - currentSelectCost.pay_amount)) + '元' : '') "
              formControlName="amount" nz-input />
          </nz-input-group>
          <ng-template #errorAmountTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              请填写支付成本金额，只需填写数字
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              当前成本支付金额不能超过
              {{ currentSelectCost.max - currentSelectCost.pay_amount > selectedContract.amount ? selectedContract.amount : (currentSelectCost.max - currentSelectCost.pay_amount) }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="remark">成本支付备注</nz-form-label>
        <nz-form-control>
          <textarea nz-input id="remark" placeholder="填写成本支付备注信息，如无则不填" formControlName="remark"
            [nzAutosize]="{ minRows: 3, maxRows: 6 }"></textarea>
        </nz-form-control>
      </nz-form-item>

    </form>
  </div>
</ng-template>
<ng-template #tplFooter>
  <button nz-button nzType="default" (click)="closeModal()">取消</button>
  <button nz-button nzType="primary" (click)="handleOk()">确定</button>
</ng-template>

<!-- 发票台账新增 modal -->

<ng-template #billTitle>
  <span *ngIf="!isEditCost">添加发票台账</span>
  <span *ngIf="isEditCost">修改发票台账</span>
</ng-template>
<ng-template #billContent>
  <div class="modal-form">
    <form nz-form [formGroup]="validateBillForm">
      <nz-form-item>
        <nz-form-label nzFor="contract_payment_id" nzRequired>成本类型</nz-form-label>
        <nz-form-control nzErrorTip="请选择成本类型">
          <nz-select style="width: 100%;" id="contract_payment_id" nzShowSearch [nzDisabled]="isEditCost"
            nzPlaceHolder="请选择成本类型" formControlName="contract_payment_id"
            (ngModelChange)="contractPaymentChange($event)">
            <ng-container *ngFor="let item of listOfData">
              <nz-option [nzLabel]="item.cost.cost_category.name" [nzValue]="item.cost.cost_category.id"
                [nzDisabled]=""></nz-option>
            </ng-container>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="is_get_bill" nzRequired>是否开票</nz-form-label>
        <nz-form-control nzErrorTip="请选择发票类型">
          <nz-radio-group id="is_get_bill" formControlName="is_get_bill" (ngModelChange)="requiredChange($event)">
            <label nz-radio [nzValue]="true">已开票</label>
            <label nz-radio [nzValue]="false">未开票</label>
            <!-- <label nz-checkbox formControlName="is_get_bill" (ngModelChange)="requiredChange($event)">是否开票</label> -->
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="validateBillForm.get('is_get_bill')?.value">
        <nz-form-label nzFor="bill_category_id" nzRequired>发票类型</nz-form-label>
        <nz-form-control nzErrorTip="请选择发票类型">
          <nz-select style="width: 100%;" id="bill_category_id" nzShowSearch nzPlaceHolder="请选择发票类型"
            formControlName="bill_category_id">
            <ng-container *ngFor="let item of taxArr">
              <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
            </ng-container>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="validateBillForm.get('is_get_bill')?.value">
        <nz-form-label nzFor="exclude_tax_amount" nzRequired>除税金额</nz-form-label>
        <nz-form-control nzErrorTip="请填写支付金额中除税金额{{ currentPayment ? '，不得超过' + currentPaymentTotal + '元' : '' }}">
          <nz-input-group nzSuffix="元" nzPrefix="￥" style="width: 100%">
            <input type="text" id="exclude_tax_amount" [disabled]=""
              placeholder="合约支付除税金额{{ currentPayment ? '，不得超过' + currentPaymentTotal + '元' : '' }}"
              formControlName="exclude_tax_amount" nz-input (ngModelChange)="amountChange()" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="validateBillForm.get('is_get_bill')?.value">
        <nz-form-label nzFor="tax_amount" nzRequired>税金</nz-form-label>
        <nz-form-control nzErrorTip="请填写支付金额中税金{{ currentPayment ? '，不得超过' + currentPaymentTotal + '元' : '' }}">
          <nz-input-group nzSuffix="元" nzPrefix="￥" style="width: 100%">
            <input type="text" id="tax_amount"
              placeholder="合约支付税金{{ currentPayment ? '，不得超过' + currentPaymentTotal + '元' : '' }}"
              formControlName="tax_amount" nz-input (ngModelChange)="amountChange()" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="!validateBillForm.get('is_get_bill')?.value">
        <nz-form-label nzFor="amount" nzRequired>总金额</nz-form-label>
        <nz-form-control nzErrorTip="请填写非合约支付总金额{{ currentPayment ? '，不得超过' + currentPaymentTotal + '元' : '' }}">
          <nz-input-group nzSuffix="元" nzPrefix="￥" style="width: 100%">
            <input type="text" id="amount"
              placeholder="合约支付总金额{{ currentPayment ? '，不得超过' + currentPaymentTotal + '元' : '' }}"
              formControlName="amount" nz-input (ngModelChange)="amountChange()" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="validateBillForm.get('is_get_bill')?.value">
        <nz-form-label nzFor="invoice_number" nzRequired>票号</nz-form-label>
        <nz-form-control [nzErrorTip]="errorInvoiceNumber">
          <nz-input-group style="width: 100%">
            <input type="text" id="invoice_number" placeholder="填写票号" formControlName="invoice_number" nz-input />
          </nz-input-group>
          <ng-template #errorInvoiceNumber let-control>
            <ng-container *ngIf="control.hasError('required')">
              请填票号，只需填写数字
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <ng-container *ngIf="validateBillForm.get('is_get_bill').value && totalAmountError && currentPayment">
        <div class="text-center text-error">除税金额和税金总和不得超过 {{ currentPayment.amount-currentPayment.tax_use_amount }} 元
        </div>
      </ng-container>
      <ng-container *ngIf="!validateBillForm.get('is_get_bill').value && totalAmountError && currentPayment">
        <div class="text-center text-error">支付总金额不得超过 {{ currentPayment.amount-currentPayment.tax_use_amount }} 元</div>
      </ng-container>


    </form>
  </div>
</ng-template>
<ng-template #billFooter>
  <button nz-button nzType="default" (click)="closeTaxModal()">取消</button>
  <button nz-button nzType="primary" (click)="sureOk()">确定</button>
</ng-template>