<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form search-option-form">
    <div nz-row [nzGutter]="24">
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
            <nz-form-item>
                <nz-form-label nzFor="bill_category_id">发票类型</nz-form-label>
                <nz-form-control style="flex-grow: 1;">
                    <nz-select id="bill_category_id" nzShowSearch nzAllowClear [nzDisabled]="" nzPlaceHolder="请选择发票类型"
                        formControlName="bill_category_id">
                        <ng-container *ngFor="let item of bill_category">
                            <nz-option [nzLabel]="item.name" [nzValue]="item.id" [nzDisabled]=""></nz-option>
                        </ng-container>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
            <nz-form-item>
                <nz-form-label nzFor="customer_id">客户名称</nz-form-label>
                <nz-form-control style="flex-grow: 1;">
                    <nz-select id="customer_id" nzShowSearch nzAllowClear [nzDisabled]="" nzPlaceHolder="请选择客户名称"
                        formControlName="customer_id">
                        <ng-container *ngFor="let item of customer">
                            <nz-option [nzLabel]="item.name" [nzValue]="item.id" [nzDisabled]=""></nz-option>
                        </ng-container>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
            <nz-form-item>
                <nz-form-label nzFor="customer_contract_code">客户合同编码</nz-form-label>
                <nz-form-control style="flex-grow: 1;">
                    <input nz-input placeholder="输入客户合同编码查询" formControlName="customer_contract_code"
                        id="customer_contract_code" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
            <nz-form-item>
                <nz-form-label nzFor="tax_id">税&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目</nz-form-label>
                <nz-form-control style="flex-grow: 1;">
                    <nz-select id="tax_id" nzShowSearch nzAllowClear [nzDisabled]="" nzPlaceHolder="请选择税目"
                        formControlName="tax_id">
                        <ng-container *ngFor="let item of taxArr">
                            <nz-option [nzLabel]="item.name" [nzValue]="item.id" [nzDisabled]=""></nz-option>
                        </ng-container>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button [nzType]="'primary'" (click)="submit()">查询</button>
            <button nz-button (click)="resetForm()" class="ml-sm">清空条件</button>
        </div>
    </div>
</form>

<div class="hidden-mobile">
</div>
<nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
    [nzTotal]="total" [(nzPageIndex)]="pageOption.page" [(nzPageSize)]="pageOption.page_size"
    (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)" class="mt-md">
    <thead>
        <tr>
            <th nzWidth="80px">序号</th>
            <th>编号</th>
            <th>发票类型</th>
            <th>金额(元)</th>
            <th>客户信息</th>
            <th>申请人</th>
            <th>状态</th>
            <th nzWidth="80px">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of ajaxTable.data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ data.number }}</td>
            <td>{{ data.bill_category.name }}</td>
            <td class="text-nowrap">{{ data.amount | currency: 'CNY' }}</td>
            <td>
                <sv-container size="small" col="1">
                    <sv label="单位">{{ data.customer.name }}</sv>
                    <sv label="地址">{{ data.customer.address }}</sv>
                    <sv label="电话">{{ data.customer.tel }}</sv>
                    <sv label="合同编号">{{ data.customer_contract_code }}</sv>
                </sv-container>
            </td>
            <td>
                <sv-container size="small" col="1">
                    <sv label="申请人">{{ data.user.name }}</sv>
                    <sv label="部&nbsp;&nbsp;&nbsp;门">{{ data.department.name }}</sv>
                    <sv label="公&nbsp;&nbsp;&nbsp;司">{{ data.company.name }}</sv>
                </sv-container>
            </td>
            <td class="text-primary text-nowrap">{{ data.bill_status.name }}</td>
            <td>
                <!-- approve/view/ -->
                <a [routerLink]="['/bill/approve/view', data.id]"
                    [queryParams]="{ project_id: data.project.id,status: data.bill_status.name }"><i nz-icon
                        nzType="eye" nzTheme="outline"></i></a>
            </td>
        </tr>
    </tbody>
</nz-table>