<div class="steps-content-box">

    <app-project-info-show-c [projectInfo]="projectInfo"></app-project-info-show-c>

    <nz-card>
        <form nz-form [formGroup]="validateForm">
            <div nz-row [nzGutter]="24" nzType="flex">
                <div nz-col [nzSm]="24" [nzMd]="12" class="border-right">
                    <div nz-row>
                        <div nz-col [nzSpan]="24" class="font-weight-bold text-md mb-sm">预算收入</div>
                        <div nz-col [nzSpan]="24">
                            <nz-form-item nzFlex>
                                <nz-form-label nzFor="tax_id" nzRequired>预算类型</nz-form-label>
                                <nz-form-control nzErrorTip="请选择预算类型">
                                    <nz-select style="width: 100%;" id="tax_id" nzShowSearch nzPlaceHolder="请选择预算类型"
                                        formControlName="tax_id" (ngModelChange)="budgetChange()">
                                        <ng-container *ngFor="let item of taxArray">
                                            <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                                        </ng-container>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col [nzSpan]="24">
                            <nz-form-item nzFlex>
                                <nz-form-label nzFor="income" nzRequired>金额</nz-form-label>
                                <nz-form-control nzErrorTip="预算收入只能输入数字且最多保留2位小数">
                                    <nz-input-group nzSuffix="元" nzPrefix="￥" style="width: 100%">
                                        <input type="text" id="income" formControlName="income" nzPlaceHolder="填写预算收入金额"
                                            nz-input />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col [nzSpan]="24">
                            <sv-container col="1" class="float-right text-right">
                                <sv label="不含税收入">
                                    <strong class="text-primary">{{ currentCountResult.no_tax_income || 0 | currency: 'CNY' }}</strong>
                                </sv>
                                <sv label="税&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;率">
                                    <strong class="text-error">{{ currentCountResult.rate || 0 }} %</strong>
                                </sv>
                                <sv label="税&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金">
                                    <strong class="text-error">{{ currentCountResult.tax_income || 0 | currency: 'CNY' }}</strong>
                                </sv>
                                <sv label="价税合计">
                                    <strong class="">{{ currentCountResult.income || 0 | currency: 'CNY' }}</strong>
                                </sv>
                            </sv-container>
                        </div>

                    </div>
                </div>
                <div nz-col [nzSm]="24" [nzXs]="24" [nzMd]="12">
                    <div nz-row>
                        <div nz-col [nzSpan]="24" class="cost-title font-weight-bold text-md mb-sm">
                            <span>预算成本</span>
                        </div>
                        <div nz-col [nzSpan]="24">
                            <nz-form-item>
                                <nz-form-control>
                                    <app-budget-cost-manage id="cost" formControlName="cost"></app-budget-cost-manage>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>


                <div nz-col [nzSpan]="24" class="my-lg">
                    <sv-container class="profit-count" col="2">
                        <sv label="毛利润">
                            <span class="text-primary font-weight-bold">{{ currentCountResult.gross_profit | currency: 'CNY' }}</span>
                        </sv>
                        <sv label="毛利率">
                            <span class="text-primary font-weight-bold">{{ currentCountResult.gross_profit_percent }}</span>
                        </sv>
                    </sv-container>
                </div>




            </div>
            <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="24" class="text-right">
                    <a nz-button (click)="prevSteps($event)">上一步</a>
                    <button nz-button nzType="primary" [nzLoading]="submitLoading" (click)="submitForm()">下一步</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-card>
</div>