<div class="steps-content-box">

    <app-project-info-show-c [projectInfo]="projectInfo"></app-project-info-show-c>

    <div class="income-box mb-md">
        <span class="mr-md">收入类型: </span>
        <label nz-checkbox [(ngModel)]="incomeOpt.project" (ngModelChange)="incomeTypeChange()">项目收入</label>
        <label nz-checkbox [(ngModel)]="incomeOpt.subsidy" (ngModelChange)="incomeTypeChange()">补贴收入</label>
    </div>
    <div class="project-income-box mb-md" *ngIf="incomeOpt.project">
        <app-project-income-c [projectInfo]="projectInfo" [incomeList]="projectIncome"
            (listValueChange)="listValueChange($event)" (incomeChange)="proIncomeChange($event)"></app-project-income-c>
    </div>
    <div class="subsidy-income-box mb-md" *ngIf="incomeOpt.subsidy">
        <app-subsidy-income-c [projectInfo]="projectInfo" [incomeList]="subsidyIncome"
            (listValueChange)="listValueChange($event)" (incomeChange)="subIncomeChange($event)"></app-subsidy-income-c>
    </div>
    <nz-card>
        <form nz-form [formGroup]="validateForm">
            <div nz-row [nzGutter]="24" nzType="flex">
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
                    <div nz-row>
                        <div nz-col [nzSpan]="24" class="cost-title font-weight-bold text-md mb-sm">
                            <span>预算成本</span>
                        </div>
                        <div nz-col [nzSpan]="24">
                            <nz-form-item>
                                <nz-form-control>
                                    <app-budget-cost-manage id="cost" formControlName="cost"></app-budget-cost-manage>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>

                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
                    <sv-container col="1">
                        <sv label="价税合计" class="text-right">
                            <strong class="text-nowrap">{{ currentCountResult.income || 0 | currency: 'CNY' }}</strong>
                        </sv>
                        <sv label="税&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金" class="text-right">
                            <strong
                                class="text-error text-nowrap">{{ currentCountResult.tax_income || 0 | currency: 'CNY' }}</strong>
                        </sv>
                        <sv label="不含税收入" class="text-right">
                            <strong
                                class="text-primary text-nowrap">{{ currentCountResult.exclude_tax_income || 0 | currency: 'CNY' }}</strong>
                        </sv>
                    </sv-container>
                </div>

                <div nz-col [nzSpan]="24" class="my-lg text-right">
                    <span>毛利润：<span
                            class="text-primary font-weight-bold text-nowrap">{{ currentCountResult.gross_profit | currency: 'CNY' }}</span></span>

                    <span class="ml-lg">
                        毛利率：
                        <span class="text-primary font-weight-bold">{{ currentCountResult.gross_profit_percent }}</span>
                    </span>
                </div>
            </div>
            <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="24" class="text-right">
                    <a nz-button (click)="prevSteps($event)">上一步</a>
                    <!-- 
                        判断 项目收入、补贴收入是否为空数组，
                            如果为空，则直接下一步， 
                            如果不为空，且收入类型并未选择的情况需要删除它们
                    -->
                    <ng-container *ngIf="!incomeOpt.project && !incomeOpt.subsidy ;else nextBtnTpl">
                        <a nz-button nzType="primary" (click)="confirm()">下一步</a>
                    </ng-container>
                    <ng-template #nextBtnTpl>
                        <a nz-popconfirm nz-button nzType="primary" [nzLoading]="submitLoading"
                            [nzPopconfirmTitle]="popconfirmTitle" [nzCondition]="switchPopconfirm"
                            (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()">下一步</a>
                    </ng-template>
                    <!-- <button nz-button nzType="primary" [nzLoading]="submitLoading" (click)="submitForm()">下一步</button> -->
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-card>
</div>