.steps-content-box {
    padding: 0 24px;
    .project-info {
        max-width: 1000px;
        margin: 0 auto;
        .pro-info-list {
            line-height: 32px;
        }
    }
    .border-right {
        border-right: 2px dashed #d8c1c1;
    }
}
nz-form-label {
    min-width: 120px;
}
nz-form-control {
    flex-grow: 1;
}
sv-container {
    max-width: 300px;
    &.profit-count {
        max-width: 600px;
    }
}
.cost-title {
    position: relative;
    .cost-add {
        position: absolute;
        right: 20px;
        top: 6px;
    }
    
}


// 修改 移动端 样式
@import '~@delon/theme/styles/default';
:host ::ng-deep {
    @media screen and (max-width: @screen-sm) {
        .steps-content-box {
            padding: 0;
            .border-right {
                border-right: 0!important;
            }
        }
        .ant-card {
            border: 0!important;
            .ant-card-body {
                padding: 24px 0!important;
            }
        }
        nz-form-label {
            width: 80px;
            min-width: 80px;
        }
        sv-container {
            margin-bottom: 16px;
        }
    }
    
}