<page-header [title]="title" [breadcrumb]="breadcrumb" [action]="action" [extra]="extra">
    <ng-template #title>
      <span>项目：</span>
      <span class="font-weight-bold">{{ projectInfo?.name }}</span>
      <span class="text-primary text-xs ml-md">进行中</span>
    </ng-template>
  
    <ng-template #breadcrumb>
      <nz-breadcrumb>
        <nz-breadcrumb-item><a [routerLink]="['/dashboard']">首页</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>项目管理</nz-breadcrumb-item>
        <nz-breadcrumb-item>项目预览</nz-breadcrumb-item>
      </nz-breadcrumb>
    </ng-template>
  
    <ng-template #action>
      <nz-button-group>
        <button nz-button (click)="printCurrentModal('print-box')">打印</button>
        <button nz-button>操作</button>
      </nz-button-group>
      <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
        下载 <i nz-icon nzType="download" nzTheme="outline"></i>
      </button>
      <nz-dropdown-menu #opMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="downloadFile('pdf')"><i nz-icon nzType="file-pdf" nzTheme="outline"></i> .pdf</li>
          <li nz-menu-item (click)="downloadFile('image')"><i nz-icon nzType="file-excel" nzTheme="outline"></i> .image</li>
        </ul>
      </nz-dropdown-menu>
      <button nz-button [nzType]="'primary'">审批</button>
    </ng-template>
    <ng-template #extra>
      <!-- <div nz-row>
        <div nz-col nzSpan="24">
          <p class="text-grey">状态</p>
          <p class="text-lg">待审批</p>
        </div>
        <div nz-col nzXs="24" nzSm="12">
            <p class="text-grey">项目金额</p>
            <p class="text-lg">¥ 568.08</p>
          </div>
      </div> -->
    </ng-template>
    <!-- <sv-container size="small" col="2">
      <sv label="项目名称"><strong>{{ projectInfo?.name }}</strong></sv>
      <sv label="负责部门">{{ projectInfo?.department?.name }}</sv>
      <sv label="负责人">{{ projectInfo?.user.name }}</sv>
      <sv label="创建时间">{{ projectInfo?.create_time | date: 'yyyy/MM/dd HH:mm:ss' }}</sv>
      <sv label="单位">{{ projectInfo?.company?.name }}</sv>
    </sv-container> -->
  </page-header>
  
  <div class="print-box" id="print-box" #printBox>
  
  
    
    <!-- 项目流程进展： 草稿 不显示 -->
    <nz-card [nzBordered]="false" class="mb-md" nzTitle="流程进度" *ngIf="projectInfo && !projectInfo.draft">
      <nz-steps [nzCurrent]="1" nzProgressDot>
        <nz-step [nzTitle]="'创建项目'" [nzDescription]="createDesc">
          <ng-template #createDesc>
            <div class="desc">
              <div class="my-sm">
                曲丽丽
                <i nz-icon nzType="dingding" class="ml-sm"></i>
              </div>
              <div>2016-12-12 12:32</div>
            </div>
          </ng-template>
        </nz-step>
        <nz-step [nzTitle]="'部门初审'" [nzDescription]="checkedDesc">
          <ng-template #checkedDesc>
            <div class="desc">
              <div class="my-sm">
                周毛毛
                <i nz-icon nzType="dingding" class="ml-sm" style="color: #00a0e9;"></i>
              </div>
              <a (click)="msg.success('click')">催一下</a>
            </div>
          </ng-template>
        </nz-step>
        <nz-step [nzTitle]="'财务复核'"></nz-step>
        <nz-step [nzTitle]="'完成'"></nz-step>
      </nz-steps>
      <div class="steps-content"></div>
    </nz-card>
  
    <!-- 项目信息 -->
    <nz-card [nzTitle]="'项目信息'" [nzBordered]="false" class="mb-md">
      
      <!-- 基础信息 -->
      <sv-container class="mb-lg">
        <sv label="项目名称"><strong>{{ projectInfo?.name }}</strong></sv>
        <sv label="项目编号">{{ projectInfo?.number }}</sv>

        <sv label="合同单位">项目签订合同单位</sv>
        <sv label="合同编号">合同编号TFHR20200303001</sv>
        <sv label="合同名称">项目签订服务合同名称</sv>
        <sv label="合同金额"><span class="text-primary">3000</span> 万元</sv>
      </sv-container>
      <sv-container col="1">
        <sv label="项目描述">
          <span [innerHtml]="projectInfo?.description | showTextareaContent"></span>
        </sv>
      </sv-container>
  
    </nz-card>
  
    <!-- 项目合同支付审批 -->
    <nz-card [nzBordered]="false" nzTitle="合同支付审批" [nzExtra]="addContractTemplate">
        <ng-template #addContractTemplate>
            <a (click)="addContract()">添加</a>
        </ng-template>
        合同支付审批数据展示
        <!-- <nz-table #basicTable [nzFrontPagination]="false" [nzData]="project.supplier">
          <thead>
            <tr>
              <th>序号</th>
              <th>供应商名称</th>
              <th>编号</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let data of basicTable.data;let i = index">
              <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.supplier_code }}</td>
                <td>
                  <a (click)="showContract(data.id)">合约<i nz-icon
                      nzType="{{ showExpand[data.id] ? 'caret-up' : 'caret-down' }}" nzTheme="outline"></i></a>
                </td>
              </tr>
              <tr *ngIf="showExpand[data.id]" style="background-color: #f1f1f1;">
                <td colspan="4">
                  <app-supplier-contract-list [projectInfo?]="projectInfo" [supplierInfo]="data"
                    [serviceCategory]="serviceCategory" [isView]="true"></app-supplier-contract-list>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table> -->
      </nz-card>

    <!-- 项目预算信息 -->
    <nz-card [nzBordered]="false" nzTitle="项目预算信息" class="mb-md">
      项目预算信息数据信息
      <!-- <sv-container class="mb-md" title="收入" *ngIf="project.budget">
        <sv label="收入类型"><span class="text-primary">{{ project.budget.tax.name }} 元</span></sv>
        <sv label="收入金额"><span class="text-primary">{{ project.budget.income }} 元</span></sv>
      </sv-container>
  
      <sv-container class="mb-md" title="成本" *ngIf="project.budget" col="2">
        <ng-container *ngFor="let cost of project.budget.cost">
          <sv [label]="cost.cost_category.name"><span class="text-error">{{ cost.amount }} 元</span></sv>
        </ng-container>
      </sv-container> -->
  
      <!-- <sv-container title="预算统计" *ngIf="project.budget">
        <sv label="不含税收入"><span class="text-primary">{{ project.budget.exclude_tax_income }} 元</span></sv>
        <sv label="预算税率"><span class="text-error">{{ project.budget.tax.rate * 100 }} %</span></sv>
        <sv label="税金"><span class="text-error">{{ project.budget.tax_amount }} 元</span></sv>
        <sv label="成本总计">{{ project.budget.cost_amount }} 元</sv>
        <sv label="毛利润"><span class="text-primary">{{ project.budget.gross_profit }} 元</span></sv>
        <sv label="毛利率"><span class="text-primary">{{ project.budget.gross_profit_rate * 100 }} %</span></sv>
      </sv-container> -->
    </nz-card>
  
  
  
  </div>
  <!-- 操作日志， *ngIf="!draft" -->