<page-header></page-header>

<app-workflow-search-option [COMPANY]="companyArray" (companyValueChange)="companyValueChange($event)" (searchOptionsEmit)="searchOptionsChange($event)" (addContentEmit)="add()"></app-workflow-search-option>

    <nz-table #basicTable [nzData]="listOfData" [nzLoading]="loading" [nzFrontPagination]="false" class="mt-md hidden-mobile">
      <thead>
        <tr>
            <th>序号</th>
            <th>流程名称</th>
            <th>流程类型</th>
            <th>是否大金额</th>
            <th>部门</th>
            <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of basicTable.data;let i = index">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.workflow_category.name }}</td>
            <td>
                <span [class.text-success]="data.is_large" [class.text-error]="!data.is_large">
                  {{ data.is_large ? '是' : '否' }}
                </span>
            </td>
            <td>{{ data.department.name }}</td>
            <td>
                <a acl [acl-ability]="'modify_workflow'" (click)="edit(data)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>

                <nz-divider nzType="vertical"></nz-divider>

                <a acl [acl-ability]="'modify_workflow'" (click)="showNodeList(data.id)">节点<i nz-icon
                    nzType="{{ showExpand[data.id] ? 'caret-up' : 'caret-down' }}" nzTheme="outline"></i></a>
            </td>
          </tr>
          <tr *ngIf="showExpand[data.id]" style="background-color: #f1f1f1;">
            <td colspan="6">
              <app-node-list [workflowInfo]="data"></app-node-list>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>

<!-- 移动端 不做流程节点配置 -->
<div class="hidden-pc mt-md">
    <div *ngIf="loading && listOfData.length === 0" class="p-md text-center">
        <nz-spin nzSimple></nz-spin>
    </div>
    <div *ngIf="!loading && listOfData.length !== 0">
        <ng-container *ngFor="let data of listOfData">
            <nz-card [nzActions]="[actionEdit]">
                <nz-skeleton [nzActive]="true" [nzLoading]="loading">
                    <nz-card-meta [nzTitle]="data.name"></nz-card-meta>
                    <div class="mt-md">
                      <sv-container size="small">
                        <sv label="类型">{{ data.workflow_category.name }}</sv>
                        <sv label="金额"><span class="text-primary" [class.text-error]="!data.is_large">{{ data.is_large ? '大金额' : '小金额' }}</span></sv>
                        <sv label="部门">{{ data.department.name }}</sv>
                      </sv-container>
                    </div>
                    <div *ngIf="showExpand[data.id]">
                      <app-node-list [workflowInfo]="data"></app-node-list>
                    </div>
                </nz-skeleton>
                <ng-template #actionEdit>
                  <a acl [acl-ability]="'modify_workflow'" (click)="edit(data)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
                </ng-template>
            </nz-card>
        </ng-container>
    </div>
</div>