<ng-container *ngIf="permissionGroup.length === groupLength; else treeNodeLoading">
    <nz-tree [nzData]="permissionGroup" nzCheckable nzMultiple nzExpandAll
        [nzSelectedKeys]="selectedKeys"
        [nzCheckedKeys]="selectedKeys"
        [nzCheckStrictly]="true"
        (nzCheckBoxChange)="nzEvent($event)">
        <!-- (nzClick)="nzEvent($event)"
                (nzExpandChange)="nzEvent($event)"
                (nzCheckBoxChange)="nzEvent($event)" -->
    </nz-tree>

    <div class="mt-lg text-right pr-lg">
        <button nz-button nzType="primary" (click)="submitPermission()">{{ data ? '保存' : '新增' }}</button>
    </div>

</ng-container>
<ng-template #treeNodeLoading>
    <div class="text-center p-lg">
        <nz-spin></nz-spin>
    </div>
</ng-template>