<page-header></page-header>

<nz-card>
  <app-financial-processing-voucher-search-component (selectProjectChange)="selectProjectChange($event)"
    (searchValueChange)="searchValueChange($event)"></app-financial-processing-voucher-search-component>

  <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
    [nzTotal]="total" [(nzPageIndex)]="pageOption.page" [(nzPageSize)]="pageOption.page_size"
    (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)" class="mt-md">
    <thead>
      <tr>
        <th>项目信息</th>
        <th>申请人/部门</th>
        <th>客户合同编号</th>
        <th>开票信息</th>
        <th>凭证开具状态</th>
        <th>凭证总金额</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ajaxTable.data; let i = index">
        <td>
          <div class="mb-xs"><span class="font-weight-bold">名称：</span>{{ data.project.name }}</div>
          <div class="mb-xs"><span class="font-weight-bold">编号：</span>{{ data.project.number }}</div>
          <div class="mb-xs"><span class="font-weight-bold">状态：</span>{{ data.project.project_status.name }}</div>
        </td>
        <td>
          <div class="mb-xs"><span class="font-weight-bold">申请人：</span>{{ data.user.department?.name }}</div>
          <div class="mb-xs"><span class="font-weight-bold">部&nbsp;&nbsp;&nbsp;&nbsp;门：</span>{{ data.user.name }}</div>
        </td>
        <td>{{ data.customer_contract_code }}</td>
        <td>
          <div class="mb-xs"><span class="font-weight-bold">发票类型：</span>{{ data.bill_category.name }}</div>
          <div class="mb-xs"><span
              class="font-weight-bold">所属&nbsp;&nbsp;&nbsp;期：</span>{{ data.bill_period_start_time }} -
            {{ data.bill_period_end_time }}</div>
          <div class="mb-xs"><span
              class="font-weight-bold">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态：</span>{{ data.bill_status.name }}</div>
          <div class="mb-xs"><span class="font-weight-bold">开具单位：</span>{{ data.customer.name }}</div>
          <div class="mb-xs"><span class="font-weight-bold">单位编号：</span>{{ data.customer.customer_code }}</div>
        </td>
        <td>
          <ng-container *ngIf="data.certificate">
            {{ data.certificate.is_deal ? '已生成' : '未生成' }}
          </ng-container>
        </td>
        <td class="text-nowrap">{{ data.amount | _currency }}</td>
        <td>
          <a [routerLink]="['/financial/bill/voucher', data.id]">凭证详情</a>
        </td>
      </tr>
    </tbody>
  </nz-table>

</nz-card>