<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="appropriation_unit" nzRequired>拨款单位</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请选择拨款单位">
            <nz-select style="width: 100%;" nzMode="multiple" id="appropriation_unit" nzPlaceHolder="请选择拨款单位" formControlName="appropriation_unit">
                <ng-container *ngFor="let item of partACompanyList">
                    <nz-option [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
                </ng-container>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>补贴名称</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请输入补贴名称">
            <input nz-input id="name" formControlName="name" placeholder="请输入补贴名称" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="condition" nzRequired>申请条件</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请填写申请条件">
            <textarea
                nz-input
                id="condition"
                placeholder="请填写申请条件"
                formControlName="condition"
                [nzAutosize]="{ minRows: 2, maxRows: 6 }"
            ></textarea>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="calculation_basis" nzRequired>测算依据</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请填写测算依据">
            <textarea
                nz-input
                id="calculation_basis"
                placeholder="请填写测算依据，如： 根据《***》文件，***标准，测算出补贴为**元。"
                formControlName="calculation_basis"
                [nzAutosize]="{ minRows: 2, maxRows: 6 }"
            ></textarea>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark" nzRequired>备注说明</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请填写备注说明">
            <textarea
                nz-input
                id="remark"
                placeholder="请填写备注说明"
                formControlName="remark"
                [nzAutosize]="{ minRows: 2, maxRows: 6 }"
            ></textarea>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="18" [nzOffset]="6">
            <button nz-button nzType="primary">{{ data ? '保存' : '新增' }}</button>
        </nz-form-control>
    </nz-form-item>
</form>