<page-header></page-header>

<app-project-category-search-option [COMPANY]="companyArray" [DEPARTMENT]="departmentArray" (companyValueChange)="companyValueChange($event)" (searchOptionsEmit)="searchOptionsChange($event)" (addContentEmit)="add()"></app-project-category-search-option>

<nz-table #basicTable [nzData]="listOfData" [nzLoading]="loading" [nzShowPagination]="false" class="mt-md">
    <thead>
        <tr>
            <th>序号</th>
            <th>类型名称</th>
            <th>项目编号</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)">
        <tr *ngFor="let data of listOfData; let i = index" cdkDrag>
            <td>{{ i + 1 }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.code }}</td>
            <td class="oper-td">
                <a acl [acl-ability]="'modify_project_category'" (click)="edit(data)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
                <nz-divider nzType="vertical"></nz-divider>
                <ng-container *ngIf="data.active; else activeFalse">
                    <a acl [acl-ability]="'delete_project_category'" nz-popconfirm
                    nzPopconfirmTitle="确定禁用当前项目类型？"
                    (nzOnConfirm)="disabled(data.id)"
                    (nzOnCancel)="cancel()" class="text-nowrap text-error">禁用</a>
                </ng-container>
                <ng-template #activeFalse>
                    <a acl [acl-ability]="'delete_project_category'" (click)="enabled(data.id)" class="text-nowrap">启用</a>
                </ng-template>
            </td>
        </tr>
    </tbody>
</nz-table>