<page-header></page-header>

<nz-card [nzBordered]="false" nzTitle="rxjs使用案列">
  <h3>数据分析、展示</h3>
  <button nz-button nzType="primary" id="button1" (click)="addClickEvent()">添加监听点击事件</button>
  <button nz-button nzType="primary" id="button2" (click)="removeClickEvent()" class="mx-md">移除监听点击事件</button>
  <button nz-button nzType="primary" id="button3" class="mx-md">移除监听点击事件4444</button>
  <button nz-button nzType="primary" id="button5" (click)="stopChange()" class="mx-md">stop change</button>
  <button nz-button nzType="primary" id="button4" (click)="getCaptcha()" [nzLoading]="loadingCaptcha"
    class="mx-md">{{ text }}</button>
  <br>
  <div class="box mt-md" id="box"></div>
</nz-card>

<nz-card [nzBordered]="false" nzTitle="loading 加载提示符">
  <div class="mt-md">
    <button nz-button class="mx-md" (click)="showLoading('text')">text</button>
    <button nz-button class="mx-md" (click)="showLoading('icon')">icon</button>
    <button nz-button class="mx-md" (click)="showLoading('spin')">spin</button>

  </div>
  
</nz-card>


<nz-card class="mt-md" [nzBordered]="false" nzTitle="二维码在线生成">
  <h3>{{ type }}</h3>
  <qr [value]="value"></qr>
  <div>
    <button *ngFor="let t of types" nz-button (click)="change(t)">{{ t }}</button>
  </div>

  <div class="mt-md">
    <h2>Media 标签使用</h2>
    <!-- <media #media [source]="source" style="height: 200px"></media> -->
  </div>
</nz-card>

<nz-card class="mt-md" [nzBordered]="false" nzTitle="lodop 打印功能">
  
</nz-card>
