<page-header [title]="title" [breadcrumb]="breadcrumb" [action]="action" [extra]="extra">
  <ng-template #title>
    <span>项目：</span>
    <span class="">{{ project.info?.name }}</span>
    <span class="text-primary text-xs mx-lg" [class.text-error]="project.info?.project_status.name === '已提交，已通过'"
      [class.text-error]="project.info?.project_status.name === '已提交，未通过'">{{ project.info?.project_status.name }}</span>
  </ng-template>

  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a [routerLink]="['/dashboard']">首页</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>项目管理</nz-breadcrumb-item>
      <nz-breadcrumb-item>项目预览</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>

  <ng-template #action>
    <button nz-button (click)="printCurrentModal('print-box',  project.info?.name)">打印</button>
    <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
      下载 <i nz-icon nzType="download" nzTheme="outline"></i>
    </button>
    <nz-dropdown-menu #opMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="downloadFile('pdf')"><i nz-icon nzType="file-pdf" nzTheme="outline"></i> .pdf</li>
        <li nz-menu-item (click)="downloadFile('image')"><i nz-icon nzType="file-excel" nzTheme="outline"></i> .image
        </li>
      </ul>
    </nz-dropdown-menu>

    <a *ngIf="project.info?.draft" nz-button [nzType]="'primary'" [routerLink]="['/project/edit', projectId]">编辑</a>

    <a nz-popconfirm nz-button [nzType]="'primary'" *ngIf="project.info?.draft"
      nzPopconfirmTitle="请确认项目信息全部填写完整，无误后确认提交！！！" (nzOnConfirm)="submitProject()" (nzOnCancel)="cancel()">
      提交项目
    </a>
  </ng-template>
  <ng-template #extra>
    <!-- <div nz-row>
      <div nz-col nzSpan="24">
        <p class="text-grey">状态</p>
        <p class="text-lg">待审批</p>
      </div>
      <div nz-col nzXs="24" nzSm="12">
          <p class="text-grey">项目金额</p>
          <p class="text-lg">¥ 568.08</p>
        </div>
    </div> -->
  </ng-template>

</page-header>

<div class="print-box" [class.p-lg]="isPrinter" id="print-box" #printBox>

  <!-- modify start -->
  <nz-card [nzTitle]="printerTitle" [nzBordered]="false" class="mb-md">
    <ng-template #printerTitle>
      <!-- <ng-container *ngIf="isPrinter;else noPrinter">
        <div class="clearfix">
          <div class="float-left title-logo">
            <img src="/assets/imgs/export_logo.png" alt="天府人资">
          </div>
          <div class="float-right title-name text-right">我们以扎根新区、深耕新区、服务新区为己任，秉承拓荒牛精神，以专业优质的服务，致力于推动各类
            人才向天府新区聚集，打造天府新区人才高地，成就天府新区人力资源服务第一品牌。</div>
        </div>
      </ng-container> -->
      <div class="plan-title text-center text-lg font-weight-bold bg-white">关于{{ project.info?.name }}项目计划书</div>
    </ng-template>

    <sv-container class="mb-lg" [title]="proDesTpl">
      <ng-template #proDesTpl>
        <span class="font-weight-bold text-md">一、项目描述</span>
      </ng-template>
      <sv col="1">
        <div [innerHTML]="project.info?.description | showTextareaContent"></div>
      </sv>
    </sv-container>

    <sv-container class="mb-lg" [title]="proInfoTpl">
      <ng-template #proInfoTpl>
        <span class="font-weight-bold text-md">二、项目信息</span>
      </ng-template>
      <sv label="客户单位" [col]="1">
        <ng-container *ngFor="let data of project.info?.customer;let i = index">
          <div>{{ i + 1}}. {{ data.name }}</div>
        </ng-container>
      </sv>
      <sv label="项目名称">{{ project.info?.name }}</sv>
      <sv label="项目编号">{{ project.info?.number }}</sv>
      <sv label="项目类型">{{ project.info?.category?.name }}</sv>

      <sv label="负 责 人 ">{{ project.info?.user.name }}</sv>
      <sv label="负责部门">{{ project.info?.department?.name }}</sv>

      <sv label="客户来源">{{ project.info?.origin?.code.code_name + project.info?.origin.name }}</sv>
      <sv label="预计执行时间">{{ project.info?.plan_execution_start_time }} - {{ project.info?.plan_execution_end_time }}</sv>

    </sv-container>
    <ng-container *ngIf="project.info">
      <app-upload-file-attachment-show-c [attachmentUrl]="'/api/attachment/project/' + project.info.id">
      </app-upload-file-attachment-show-c>
    </ng-container>


    <sv-container class="mb-lg" [title]="proBudgetTpl">
      <ng-template #proBudgetTpl>
        <span class="font-weight-bold text-md">三、项目预算</span>
      </ng-template>
      <sv-title>1. 收入</sv-title>
      <sv label="收入类型"><span>{{ project.budget?.tax.name }}</span></sv>
      <sv label="收入金额">
        <span class="font-weight-bold mr-md">{{ project.budget?.income | currency: 'CNY' }}</span>
        大写：<span class="">{{ transferNumber }}</span>
      </sv>

      <sv-title>2. 成本</sv-title>
      <ng-container *ngFor="let cost of project.budget?.cost">
        <sv [label]="cost.cost_category.name"><span class="font-weight-bold">{{ cost.amount | currency: 'CNY' }}</span></sv>
      </ng-container>
      <sv [label]="costTpl" col="1">
        <ng-template #costTpl>
          <span class="font-weight-bold">总 &nbsp;计</span>
        </ng-template>
        <strong>{{ project.budget?.cost_amount | currency: 'CNY' }}</strong>
      </sv>

      <sv-title>3. 收支统计</sv-title>
      <sv label="不含税收入"><span class="font-weight-bold">{{ project.budget?.exclude_tax_income | currency: 'CNY' }}</span></sv>
      <sv label="预算税率"><span>{{ countPercent(project.budget?.tax.rate, 100) }} %</span></sv>
      <sv label="税金"><span class="font-weight-bold">{{ project.budget?.tax_amount | currency: 'CNY' }}</span></sv>
      <sv label="毛利润"><span>{{ project.budget?.gross_profit | currency: 'CNY' }}</span></sv>
      <sv label="毛利率"><span>{{ countPercent(project.budget?.gross_profit_rate, 100) }} %</span></sv>
    </sv-container>

    <sv-container class="mb-lg" [title]="proSupplierTpl">
      <ng-template #proSupplierTpl>
        <span class="font-weight-bold text-md">四、供应商</span>
      </ng-template>
      <sv col="1" class="table-box">
        <div class="hidden-mobile">
          <nz-table #basicTable [nzFrontPagination]="false" [nzData]="project.supplier">
            <thead>
              <tr>
                <th>序号</th>
                <th>供应商名称</th>
                <th>编号</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let data of basicTable.data;let i = index">
                <tr>
                  <td>{{ i + 1 }}</td>
                  <td>{{ data.name }}</td>
                  <td>{{ data.supplier_code }}</td>
                  <td>
                    <a (click)="showContract(data.id)" class="text-nowrap">合约<i nz-icon
                        nzType="{{ showContractExpand[data.id] ? 'caret-up' : 'caret-down' }}" nzTheme="outline"></i></a>
      
                    <nz-divider nzType="vertical"></nz-divider>
      
                    <a (click)="showNoContract(data.id)" class="text-nowrap">非合约<i nz-icon
                        nzType="{{ showNoContractExpand[data.id] ? 'caret-up' : 'caret-down' }}" nzTheme="outline"></i></a>
                  </td>
                </tr>
                <tr *ngIf="showContractExpand[data.id]" style="background-color: #f1f1f1;">
                  <td colspan="4">
                    <app-supplier-contract-list [projectInfo]="project.info" [supplierInfo]="data" [isView]="true">
                    </app-supplier-contract-list>
                  </td>
                </tr>
                <tr *ngIf="showNoContractExpand[data.id]" style="background-color: #f1f1f1;">
                  <td colspan="4">
                    <app-supplier-no-contract-list [projectInfo]="project.info" [supplierInfo]="data" [isView]="true">
                    </app-supplier-no-contract-list>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </nz-table>
        </div>
        <div class="hidden-pc">
          <ng-container *ngFor="let data of project.supplier;let i = index">
            <nz-card nzType="inner" [nzTitle]="mobileSupplierTpl" class="mb-md inner-card">
              <ng-template #mobileSupplierTpl>
                <div>{{ data.name }} <span class="ml-sm text-sm">{{ data.supplier_code }}</span></div>
              </ng-template>
              <app-supplier-contract-list [projectInfo]="project.info" [supplierInfo]="data" [isView]="true">
              </app-supplier-contract-list>
            </nz-card>
          </ng-container>
        </div>
      </sv>
    </sv-container>

    <sv-container class="mb-lg" [title]="workflowStatusTitle" *ngIf="project.info && !project.info?.draft">
      <ng-template #workflowStatusTitle>
        <span class="font-weight-bold text-md">五、流程进度</span>
        <span class="text-primary ml-md text-sm">{{ progressInfo?.workflow_status.name }}</span>
      </ng-template>
      <sv col="1" class="table-box">
        <ng-container *ngIf="nodeProcess.length !== 0;else nodeProcessLoadingTpl">
          <nz-steps nzDirection="vertical" nzProgressDot class="hidden-pc">
            <ng-container *ngFor="let process of nodeProcess">
              <nz-step [nzTitle]="process.node.name"
                [nzStatus]=" process.current ? 'process' : ( !process.finished ? 'wait' : ( !process.agree ?  'error' : 'finish') )"
                [nzDescription]="createDesc">
                <ng-template #createDesc>
                  <div class="desc">
                    <div class="my-sm">
                      {{ process.user.name }}
                    </div>
                    <div *ngIf="process.finished; else notFinished">
                      {{ process.finished_time }}
                    </div>
                    <span class="text-sm text-primary"
                      [class.text-error]="process.finished && !process.agree">{{ process.remark }}</span>
                    <ng-template #notFinished>
                      <!-- TODO:暂不开发 -->
                      <!-- <a *ngIf="process.current" (click)="msg.success('click')">催一下</a> -->
                    </ng-template>
                  </div>
                </ng-template>
              </nz-step>
            </ng-container>
  
            <nz-step [nzTitle]="'完成'"
              [nzStatus]=" !progressInfo.finished ? 'wait' : ( progressInfo.agree ? 'finish' : 'error' ) "></nz-step>
          </nz-steps>
          <nz-steps nzProgressDot class="hidden-mobile">
            <ng-container *ngFor="let process of nodeProcess">
              <nz-step [nzTitle]="process.node.name"
                [nzStatus]=" process.current ? 'process' : ( !process.finished ? 'wait' : ( !process.agree ?  'error' : 'finish') )"
                [nzDescription]="createDesc">
                <ng-template #createDesc>
                  <div class="desc">
                    <div class="my-sm">
                      {{ process.user.name }}
                    </div>
                    <div *ngIf="process.finished; else notFinished">
                      {{ process.finished_time }}
                    </div>
                    <span class="text-sm text-primary"
                      [class.text-error]="process.finished && !process.agree">{{ process.remark }}</span>
                    <ng-template #notFinished>
                      <!-- TODO:暂不开发 -->
                      <!-- <a *ngIf="process.current" (click)="msg.success('click')">催一下</a> -->
                    </ng-template>
                  </div>
                </ng-template>
              </nz-step>
            </ng-container>
  
            <nz-step [nzTitle]="'完成'"
              [nzStatus]=" !progressInfo.finished ? 'wait' : ( progressInfo.agree ? 'finish' : 'error' ) "
              [nzDescription]="'项目审核完成'"></nz-step>
          </nz-steps>
  
        </ng-container>
        <ng-template #nodeProcessLoadingTpl>
          <div class="p-xl text-center text-lg text-primary">
            <nz-spin></nz-spin>
          </div>
        </ng-template>
  
        <div class="steps-content" *ngIf="isCurrentCheck">
          <div class="check-box mt-md float-right">
            <nz-radio-group [(ngModel)]="checkOption.agree" [nzButtonStyle]="'solid'">
              <label nz-radio-button [nzValue]="true">通过</label>
              <label nz-radio-button [nzValue]="false">不通过</label>
            </nz-radio-group>
            <textarea nz-input placeholder="请填写审核备注" [(ngModel)]="checkOption.remark"
              [nzAutosize]="{ minRows: 3, maxRows: 6 }" class="my-sm"></textarea>
            <div class="text-right">
              <a nz-popconfirm nz-button [nzType]="'primary'" nzPopconfirmTitle="请确认项目信息全部查看，审核无误后确认提交！！！"
                (nzOnConfirm)="submitCheckCurrentProcess()" (nzOnCancel)="cancel()">
                审批
              </a>
            </div>
          </div>
        </div>
        
      </sv>
    </sv-container>

    <sv-container class="mb-lg" [title]="proLogTpl" *ngIf="project.info && !project.info.draft">
      <ng-template #proLogTpl>
        <span class="font-weight-bold text-md">六、日志</span>
      </ng-template>
      <sv col="1" class="table-box">
        <app-project-logs [logs]="logs"></app-project-logs>
      </sv>
    </sv-container>

  </nz-card>


</div>