<page-header [title]="'支付合同查看'" [breadcrumb]="breadcrumb" [action]="action">

  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a [routerLink]="['/dashboard']">首页</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>支付审批管理</nz-breadcrumb-item>
      <nz-breadcrumb-item>合约支付审批</nz-breadcrumb-item>
      <nz-breadcrumb-item>支付合同查看</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>

  <app-project-info-show-tpl [projectInfo]="projectInfo"></app-project-info-show-tpl>

  <ng-template #action>
    <button nz-button (click)="printCurrentModal('print-box',  projectInfo?.name)">打印</button>
    <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
      下载 <i nz-icon nzType="download" nzTheme="outline"></i>
    </button>
    <nz-dropdown-menu #opMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="downloadFile('pdf')"><i nz-icon nzType="file-pdf" nzTheme="outline"></i> .pdf</li>
        <li nz-menu-item (click)="downloadFile('image')"><i nz-icon nzType="file-excel" nzTheme="outline"></i> .image
        </li>
      </ul>
    </nz-dropdown-menu>
  </ng-template>

</page-header>

<div id="print-box">
  <!-- [nzFooter]="tableFooter" -->
  <nz-table #borderedTable nzBordered nzData="[1]" [nzFrontPagination]="false">
    <!-- <ng-template #tableTitle> [nzTitle]="tableTitle"
      <div class="text-center text-lg">成都天府新区人力资源开发服务有限公司</div>
    </ng-template> -->
    <tbody>
      <!-- <tr>
        <td colspan="6" class="text-md text-center">费 用 付 款 书</td>
      </tr>
      <tr>
        <td colspan="6" class="text-md text-center">（合同款项支付用）</td>
      </tr> -->
      <tr>
        <td class="font-weight-bold">合同编号</td>
        <td colspan="2">{{ selectedContract?.contract.number }}</td>
        <td class="font-weight-bold">收款单位</td>
        <td colspan="2">{{ selectedContract?.contract.pay_company }}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">合同类型</td>
        <td colspan="2">{{ selectedContract?.contract.contract_category.name }}</td>
        <td class="font-weight-bold">开户银行</td>
        <td colspan="2">{{ selectedContract?.contract.bank_name }}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">合同名称</td>
        <td colspan="2">{{ selectedContract?.contract.name }}</td>
        <td class="font-weight-bold">银行账号</td>
        <td colspan="2">{{ selectedContract?.contract.bank_account }}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">合同单位</td>
        <td colspan="5">{{ selectedContract?.supplier?.name }}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">{{ selectedContract?.contract.contract_amount ? '合同总价金额' : '请示金额上限' }}</td>
        <td colspan="5">{{ selectedContract?.contract.amount | _currency }}</td>
      </tr>
      <tr>
        <td class="font-weight-bold">摘要</td>
        <td colspan="5">摘要内容信息显示</td>
      </tr>
      <tr>
        <td colspan="6" class="text-right font-weight-bold">单位: 元(人民币)</td>
      </tr>
      <tr class="font-weight-bold">
        <td rowspan="2">序号</td>
        <td rowspan="2">费用类型</td>
        <td rowspan="2">本期支付金额</td>
        <td colspan="2" class="text-center">累计金额</td>
        <td rowspan="2" class="text-center">备注</td>
      </tr>
      <tr class="font-weight-bold">
        <td>合同累计金额</td>
        <td>费用预算累计金额</td>
      </tr>
      <ng-container *ngFor="let data of listOfData;let i = index">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ data.cost.cost_category.name }}</td>
          <td>{{ data.amount | _currency }}</td>
          <td>{{ data.cost.pay_amount | _currency }}</td>
          <td>{{ data.cost.amount | _currency }}</td>
          <td>
            <span [innerHTML]="data.remark | showTextareaContent"></span>
          </td>
        </tr>
      </ng-container>
      <tr>
        <td colspan="2" class="font-weight-bold">合计</td>
        <td colspan="4">{{ costTotalPay | _currency }}</td>
      </tr>
      <tr>
        <td colspan="2" class="font-weight-bold">本期支付金额(大写)</td>
        <td colspan="2">{{ costTotalPay | n2c }}</td>
        <td class="font-weight-bold">合同支付比例</td>
        <td>
          <ng-container *ngIf="selectedContract?.contract.amount">
            {{ countPercent(selectedContract.contract.amount) }}
          </ng-container>
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <app-upload-file-attachment-show-c [attachmentUrl]="'/api/attachment/contract_pay/' + contract_pay_id"></app-upload-file-attachment-show-c>
        </td>
      </tr>

    </tbody>
    <ng-template #tableFooter>
      <div class="text-right">开票日期： {{ '2020/06/06 15:30:22' }}</div>
    </ng-template>
  </nz-table>
</div>

<!-- 支付流程进展： 草稿 不显示 -->
<nz-card [nzBordered]="false" class="mt-md" [nzTitle]="workflowStatusTitle" *ngIf="contractInfo && !contractInfo.draft">
  <ng-template #workflowStatusTitle>
    <span>审批进展</span>
    <span class="text-primary ml-md text-sm">{{ progressInfo?.workflow_status.name }}</span>
  </ng-template>
  <ng-container *ngIf="nodeProcess.length !== 0;else nodeProcessLoadingTpl">
    <nz-steps nzDirection="vertical" nzProgressDot class="hidden-pc">
      <nz-step [nzTitle]="'合约支付申请'" [nzStatus]="'finish'" [nzDescription]="startDes">
        <ng-template #startDes>
          <div class="my-sm">
            {{ projectInfo?.user.name }}
          </div>
          <div>
            {{ projectInfo?.submit_time }}
          </div>
        </ng-template>
      </nz-step>
      <ng-container *ngFor="let process of nodeProcess">
        <nz-step [nzTitle]="process.node.name"
          [nzStatus]=" process.current ? 'process' : ( !process.finished ? 'wait' : ( !process.agree ?  'error' : 'finish') )"
          [nzDescription]="createDesc">
          <ng-template #createDesc>
            <div class="desc">
              <div class="my-sm">
                {{ process.user.name }}
              </div>
              <div *ngIf="process.finished; else notFinished">
                {{ process.finished_time }}
              </div>
              <span class="text-sm text-primary"
                [class.text-error]="process.finished && !process.agree">{{ process.remark }}</span>
              <ng-template #notFinished>
                <!-- TODO:暂不开发 -->
                <!-- <a *ngIf="process.current" (click)="msg.success('click')">催一下</a> -->
              </ng-template>
            </div>
          </ng-template>
        </nz-step>
      </ng-container>

      <nz-step [nzTitle]="'完成'"
        [nzStatus]=" !progressInfo.finished ? 'wait' : ( progressInfo.agree ? 'finish' : 'error' ) "></nz-step>
    </nz-steps>
    <nz-steps nzProgressDot class="hidden-mobile">
      <nz-step [nzTitle]="'合约支付申请'" [nzStatus]="'finish'" [nzDescription]="startDes">
        <ng-template #startDes>
          <div class="my-sm">
            {{ projectInfo?.user.name }}
          </div>
          <div>
            {{ projectInfo?.submit_time }}
          </div>
        </ng-template>
      </nz-step>
      <ng-container *ngFor="let process of nodeProcess">
        <nz-step [nzTitle]="process.node.name"
          [nzStatus]=" process.current ? 'process' : ( !process.finished ? 'wait' : ( !process.agree ?  'error' : 'finish') )"
          [nzDescription]="createDesc">
          <ng-template #createDesc>
            <div class="desc">
              <div class="my-sm">
                {{ process.user.name }}
              </div>
              <div *ngIf="process.finished; else notFinished">
                {{ process.finished_time }}
              </div>
              <span class="text-sm text-primary"
                [class.text-error]="process.finished && !process.agree">{{ process.remark }}</span>
              <ng-template #notFinished>
                <!-- TODO:暂不开发 -->
                <!-- <a *ngIf="process.current" (click)="msg.success('click')">催一下</a> -->
              </ng-template>
            </div>
          </ng-template>
        </nz-step>
      </ng-container>

      <nz-step [nzTitle]="'完成'"
        [nzStatus]=" !progressInfo.finished ? 'wait' : ( progressInfo.agree ? 'finish' : 'error' ) "
        [nzDescription]="'合约支付审批完成'"></nz-step>
    </nz-steps>

  </ng-container>
  <ng-template #nodeProcessLoadingTpl>
    <div class="p-xl text-center text-lg text-primary">
      <nz-spin></nz-spin>
    </div>
  </ng-template>

  <div class="steps-content" *ngIf="isCurrentCheck">
    <div class="check-box mt-md float-right">
      <nz-radio-group [(ngModel)]="checkOption.agree" [nzButtonStyle]="'solid'">
        <label nz-radio-button [nzValue]="true">通过</label>
        <label nz-radio-button [nzValue]="false">不通过</label>
      </nz-radio-group>
      <textarea nz-input placeholder="请填写审核备注" [(ngModel)]="checkOption.remark"
        [nzAutosize]="{ minRows: 3, maxRows: 6 }" class="my-sm"></textarea>
      <div class="text-right">
        <a nz-popconfirm nz-button [nzType]="'primary'" nzPopconfirmTitle="请确认支付信息已全部查看，且审核无误后确认提交！！！"
          (nzOnConfirm)="submitCheckCurrentProcess()" (nzOnCancel)="cancel()">
          审批
        </a>
      </div>
    </div>
  </div>
</nz-card>

<ng-container *ngIf="progressInfo && progressInfo.execute_user">
  <app-users-execute-flow [progressInfo]="progressInfo" (executeChange)="executeChange($event)">
  </app-users-execute-flow>
</ng-container>