<page-header></page-header>

<nz-card>
    <app-bill-apply-project-search [COMPANY]="companyArray" (searchOptionsEmit)="searchOptionsChange($event)">
    </app-bill-apply-project-search>

    <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
        [nzTotal]="total" [(nzPageIndex)]="pageOption.page" [(nzPageSize)]="pageOption.page_size"
        (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"
        class="mt-md hidden-mobile">
        <thead>
            <tr>
                <th nzWidth="80px">序号</th>
                <th>项目</th>
                <th>类型</th>
                <th>来源</th>
                <th>基础信息</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ajaxTable.data; let i = index">
                <td>{{ i + 1}}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.category?.name }}</td>
                <td>{{ data.origin?.code.code_name + data.origin?.name }}</td>
                <td>
                    <sv-container size="small" col="1">
                        <sv label="部门">{{ data.department?.name }}</sv>
                        <sv label="单位">{{ data.company?.name }}</sv>
                    </sv-container>
                </td>
                <td>
                    <!-- <a [routerLink]="['/bill/project/invoices/list', data.id]">发票管理</a> -->
                    <a [routerLink]="['/bill/project/invoices/list', data.id]"><i nz-icon nzType="eye"
                            nzTheme="outline"></i></a>
                </td>
            </tr>
        </tbody>
    </nz-table>

</nz-card>
<div class="hidden-pc mt-md">
    <div *ngIf="loading && listOfData.length === 0" class="p-md text-center">
        <nz-spin nzSimple></nz-spin>
    </div>
    <div *ngIf="!loading && listOfData.length !== 0">
        <ng-container *ngFor="let data of listOfData">
            <nz-card [nzActions]="[actionEdit]" class="mt-md">
                <nz-skeleton [nzActive]="true" [nzLoading]="false">
                    <nz-card-meta [nzTitle]="data.name"></nz-card-meta>
                    <div class="pt-md">
                        <sv-container size="small">
                            <sv label="类型">{{ data.category?.name }}</sv>
                            <sv label="来源">{{ data.origin?.code.code_name + data.origin?.name }}</sv>
                            <sv label="部门">{{ data.department?.name }}</sv>
                            <sv label="单位">{{ data.company?.name }}</sv>
                        </sv-container>
                    </div>
                </nz-skeleton>
                <ng-template #actionEdit>
                    <a [routerLink]="['/bill/project/invoices/list', data.id]">发票管理</a>
                </ng-template>
            </nz-card>
        </ng-container>
        <div class="mt-md text-center">
            <nz-pagination [nzSize]="'small'" nzShowSizeChanger [(nzPageSize)]="pageOption.page_size"
                [nzPageIndex]="pageOption.page" [nzTotal]="total" (nzPageIndexChange)="pageIndexChange($event)"
                (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
        </div>
    </div>
</div>