<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form search-option-form">
    <div nz-row [nzGutter]="24">
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
            <nz-form-item>
                <nz-form-label nzFor="invoice_number">发票编号</nz-form-label>
                <nz-form-control style="flex-grow: 1;">
                    <input nz-input placeholder="请输入发票编号" formControlName="invoice_number" id="invoice_number" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
            <nz-form-item>
                <nz-form-label nzFor="pay_company">支付公司</nz-form-label>
                <nz-form-control style="flex-grow: 1;">
                    <input nz-input placeholder="请输入支付公司" formControlName="pay_company" id="pay_company" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
            <nz-form-item>
                <nz-form-label nzFor="if_write_off">是否冲销</nz-form-label>
                <nz-form-control style="flex-grow: 1;">
                    <nz-select id="if_write_off" nzShowSearch nzAllowClear [nzDisabled]="" nzPlaceHolder="请选择是否冲销"
                        formControlName="if_write_off">
                        <ng-container *ngFor="let item of if_write_off_arr">
                            <nz-option [nzLabel]="item.name" [nzValue]="item.disabled" [nzDisabled]=""></nz-option>
                        </ng-container>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button [nzType]="'primary'" (click)="submit()">查询</button>
            <button nz-button (click)="resetForm()" class="ml-sm">清空条件</button>
        </div>
    </div>
</form>

<div class="hidden-mobile">
</div>
<nz-table #ajaxTable [nzData]="listOfData" [nzLoading]="loading" class="mt-md hidden-mobile">
    <thead>
        <tr>
            <th nzWidth="80px">序号</th>
            <th>非合约支付编号</th>
            <th nzWidth="100px">项目名称</th>
            <th>收款信息</th>
            <th>冲抵情况</th>
            <th>申请人信息</th>
            <th nzWidth="80px">状态</th>
            <th nzWidth="80px">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of ajaxTable.data; let i = index">
            <td>{{ i + 1 }}</td>
            <td *ngIf="data.number">{{ data.number }}</td>
            <td *ngIf="!data.number">/</td>
            <td>
                <sv-container size="small" col="1">
                    <!-- <sv>{{ data.project.name }}</sv> -->
                    <sv class="text-nowrap"><a (click)="routerTo(data)" title="点击进入项目详情页">{{ data.project.name }}</a>
                    </sv>
                </sv-container>
            </td>
            <td>
                <sv-container size="small" col="1">
                    <sv label="收款单位/个人">{{ data.pay_company }}</sv>
                    <sv label="银行名称">{{ data.bank_name }}</sv>
                    <sv label="银行账号">{{ data.bank_account }}</sv>
                </sv-container>
            </td>
            <td>
                <sv-container size="small" col="1">
                    <sv label="支付金额（冲抵前）" class="text-nowrap">{{ data.before_deduct_amount | currency: 'CNY' }}</sv>
                    <sv label="支付金额（冲抵后）" class="text-nowrap">{{ data.amount | currency: 'CNY' }}</sv>
                </sv-container>
            </td>

            <td>
                <sv-container size="small" col="1">
                    <sv label="名称">{{ data.user.name }}</sv>
                    <sv label="部门">{{ data.user.department.name }}</sv>
                    <sv label="单位">{{ data.user.company.name }}</sv>
                </sv-container>
            </td>
            <td class="text-primary text-nowrap">{{ data.pay_status.name }}</td>
            <!-- <td>
                <span [innerHTML]="data.remark | showTextareaContent"></span>
            </td> -->
            <td>
                <!-- approve/view/ -->
                <!-- <a [routerLink]="['/bill/approve/view', data.id]" [queryParams]="{ project_id: data.project.id }"><i
                        nz-icon nzType="eye" nzTheme="outline"></i></a> -->
                <a (click)="view(data)"><i nz-icon nzType="eye" nzTheme="outline"></i></a>
            </td>
        </tr>
    </tbody>
</nz-table>
<!-- <div class="hidden-pc mt-md">
    <div *ngIf="loading && listOfData.length === 0" class="p-md text-center">
        <nz-spin nzSimple></nz-spin>
    </div>
    <div *ngIf="!loading && listOfData.length !== 0">
        <ng-container *ngFor="let data of listOfData">
            <nz-card [nzActions]="[actionEdit]" class="mt-md">
                <nz-skeleton [nzActive]="true" [nzLoading]="false">
                    <nz-card-meta [nzTitle]="treatyTitltTpl"></nz-card-meta>
                    <ng-template #treatyTitltTpl>
                        <span>{{ data.bill_category.name }}</span>
                        <span class="text-primary text-xs ml-md" [class.text-error]="data.bill_status?.name === '未通过'"
                            [class.text-success]="data.bill_status?.name === '已通过'">{{ data.bill_status?.name }}</span>
                    </ng-template>
                    <div class="pt-md">
                        <sv-container size="small">
                            <sv label="发票金额"><span class="font-weight-bold">{{ data.amount | currency: 'CNY' }}</span>
                            </sv>
                            <sv label="申请人">{{ data.user.name }}</sv>
                            <sv label="部&nbsp;&nbsp;&nbsp;门">{{ data.department.name }}</sv>
                            <sv label="公&nbsp;&nbsp;&nbsp;司">{{ data.company.name }}</sv>
                            <sv label="开票单位">{{ data.customer.name }}</sv>
                            <sv label="开票地址">{{ data.customer.address }}</sv>
                        </sv-container>
                    </div>
                </nz-skeleton>
                <ng-template #actionEdit>
                    <a [routerLink]="['/bill/approve/view', data.id]" [queryParams]="{ project_id: data.project.id }"><i
                            nz-icon nzType="eye" nzTheme="outline"></i></a>
                </ng-template>
            </nz-card>
        </ng-container>
        <div class="mt-md text-center">
            <nz-pagination [nzSize]="'small'" nzShowSizeChanger [(nzPageSize)]="pageOption.page_size"
                [nzPageIndex]="pageOption.page" [nzTotal]="total" (nzPageIndexChange)="pageIndexChange($event)"
                (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
        </div>
    </div>
</div> -->