<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>姓名</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请填写姓名">
          <input #inputName nz-input id="name" formControlName="name" placeholder="填写姓名" (blur)="nameChange(inputName.value)" />
      </nz-form-control>
  </nz-form-item>
  <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired>用户名</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请填写用户名">
          <input nz-input id="username" formControlName="username" (keyup)="usernameValueChange()" placeholder="填写用户名" />
      </nz-form-control>
  </nz-form-item>
  <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tel" nzRequired>电话号码</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请填写电话号码">
          <input nz-input id="tel" formControlName="tel" placeholder="填写电话号码" />
      </nz-form-control>
  </nz-form-item>
  <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mail">邮箱</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请填写用户邮箱">
          <input nz-input id="mail" formControlName="mail" placeholder="填写用户邮箱" />
      </nz-form-control>
  </nz-form-item>
  <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="company" nzRequired>所在单位</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请选择单位">
          <nz-select (ngModelChange)="companyValueChange()" style="width: 100%;" id="company" nzShowSearch nzPlaceHolder="请选择所在单位" [nzDisabled]="companyId" formControlName="company_id">
              <ng-container *ngFor="let item of COMPANY">
                  <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
              </ng-container>
          </nz-select>
      </nz-form-control>
  </nz-form-item>
  <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="department_id" nzRequired>所属部门</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请选择部门">
          <nz-select (ngModelChange)="departmentValueChange()" style="width: 100%;" id="department_id" [nzLoading]="departmentLoading" nzShowSearch nzPlaceHolder="请选择所属部门" formControlName="department_id">
              <ng-container *ngFor="let item of departmentArray">
                  <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
              </ng-container>
          </nz-select>
      </nz-form-control>
  </nz-form-item>
  <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="position_id" nzRequired>职位</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请选择职位">
          <nz-select style="width: 100%;" id="position_id" [nzLoading]="positionLoading" nzShowSearch nzPlaceHolder="请选择职位" formControlName="position_id">
              <ng-container *ngFor="let item of positionArray">
                  <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
              </ng-container>
          </nz-select>
      </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="18" [nzOffset]="6">
          <button nz-button nzType="primary">{{ data ? '保存' : '新增' }}</button>
      </nz-form-control>
  </nz-form-item>
</form>