<nz-card nzTitle="补贴收入" [nzExtra]="createTemplate" class="ant-card__body-nopadding">
    <ng-template #createTemplate>
        <ng-container *ngIf="incomeList.length === 0">
            <button nz-button nzType="primary" (click)="add()">新增</button>
        </ng-container>
    </ng-template>

    <ng-container *ngFor="let data of incomeList">
        <nz-table #incomeTable [nzData]="[1]" [nzShowPagination]="false" [nzFooter]="footerTpl">
            <thead>
                <tr>
                    <th>拨款单位</th>
                    <th nzWidth="200px">补贴名称</th>
                    <th>申请条件</th>
                    <th>测算依据</th>
                    <th>备注</th>
                    <th nzWidth="100px">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ data.company.name }}</td>
                    <td>{{ data.name }}</td>
                    <td><span [innerHTML]="data.condition | showTextareaContent"></span></td>
                    <td><span [innerHTML]="data.calculation_basis | showTextareaContent"></span></td>
                    <td><span [innerHTML]="data.remark | showTextareaContent"></span></td>
                    <td>
                        <a (click)="edit(data)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>

                        <nz-divider nzType="vertical"></nz-divider>

                        <a nz-popconfirm nzPopconfirmTitle="确定禁用当前补贴收入？" (nzOnConfirm)="confirm(data.id)"
                            (nzOnCancel)="cancel()" class="text-error"><i nz-icon nzType="delete"
                                nzTheme="outline"></i></a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <app-subsidy-income-type-and-amount [subsidyId]="data.id" (incomeStatisticsChange)="incomeStatisticsChange($event)"></app-subsidy-income-type-and-amount>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <ng-template #footerTpl>
            <div class="text-right" *ngIf="staticOpt">
                <span class="font-weight-bold">含税收入： {{ staticOpt.sub_income | _currency }}</span>
                <span class="font-weight-bold mx-md">税金合计： {{ staticOpt.tax_amount | _currency }}</span>
                <span class="font-weight-bold">不含税收入： {{ staticOpt.exclude_tax_income | _currency }}</span>
            </div>
        </ng-template>
    </ng-container>
</nz-card>