<form nz-form [formGroup]="validateForm">
    <nz-form-item>
        <nz-form-label nzFor="supplier_id" nzRequired>供应商</nz-form-label>
        <nz-form-control nzErrorTip="请选择供应商">
            <nz-select style="width: 100%;" id="supplier_id" nzShowSearch
                nzPlaceHolder="请选择供应商" formControlName="supplier_id" [nzDisabled]="data">
                <ng-container *ngFor="let item of supplierList">
                    <nz-option [nzLabel]="item.name" [nzValue]="item.id" [nzDisabled]="selectedOption[item.id]"></nz-option>
               </ng-container>
             </nz-select>
        </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
        <nz-form-label nzFor="service_category_id" nzRequired>服务商类型</nz-form-label>
        <nz-form-control nzErrorTip="请选择服务商类型">
            <nz-select style="width: 100%;" id="service_category_id" nzShowSearch
                nzPlaceHolder="请选择服务商类型" formControlName="service_category_id">
                <ng-container *ngFor="let item of serviceCategoryList">
                    <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
               </ng-container>
             </nz-select>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzFor="amount" nzRequired>非合约金额</nz-form-label>
        <nz-form-control nzErrorTip="请填写非合约金额，金额应小于或等于{{ limtAmount }}元">
            <nz-input-group nzSuffix="元">
                <input type="text" #treatyAmount id="amount" formControlName="amount" nz-input placeholder="请填写非合约金额，金额小于或等于{{ limtAmount }}元" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
        <nz-form-control [nzSpan]="18" [nzOffset]="6">
            <button nz-popconfirm nzPopconfirmTitle="当前非合约金额为{{ treatyAmount.value }}元？确定请继续。" (nzOnConfirm)="submitForm()" (nzOnCancel)="cancel()" nz-button nzType="primary" [nzLoading]="submitLoading" nzPopconfirmPlacement="rightTop">{{ data ? '保存' : '新增' }}</button>
        </nz-form-control>
    </nz-form-item>
</form>