<page-header></page-header>

<nz-card>
  <app-financial-processing-voucher-search-component (selectProjectChange)="selectProjectChange($event)"
    (searchValueChange)="searchValueChange($event)"></app-financial-processing-voucher-search-component>

  <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
    [nzTotal]="total" [(nzPageIndex)]="pageOption.page" [(nzPageSize)]="pageOption.page_size"
    (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)" class="mt-md">
    <thead>
      <tr>
        <th>项目</th>
        <th>收款信息</th>
        <th>支付信息</th>
        <th>凭证开具状态</th>
        <th>凭证总金额</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ajaxTable.data; let i = index">
        <td>
          {{ data.project.name }}
          <!-- <div class="mb-xs"><span class="font-weight-bold">名称：</span>{{ data.project.name }}</div> -->
        </td>
        <td>
          <div class="mb-xs"><span class="font-weight-bold">单位/个人：</span>{{ data.pay_company }}</div>
          <div class="mb-xs"><span class="font-weight-bold">银行&nbsp;名称：</span>{{ data.bank_name }}</div>
          <div class="mb-xs"><span class="font-weight-bold">银行&nbsp;账号：</span>{{ data.bank_account | _currency }}</div>
        </td>
        <td>
          <div class="mb-xs"><span class="font-weight-bold">成本总额：</span>{{ data.before_deduct_amount | _currency }}
          </div>
          <div class="mb-xs">
            <span class="font-weight-bold">抵扣情况：</span>
            <span *ngIf="data.if_write_off;else notWriteOff">{{ data.write_off_amount | currency: 'CNY' }}</span>
            <ng-template #notWriteOff>
              <span>无冲抵</span>
            </ng-template>
          </div>
          <div class="mb-xs"><span class="font-weight-bold">待支付金额：</span>{{ data.amount | _currency }}</div>
        </td>
        <td>
          <ng-container *ngIf="data.certificate">
            {{ data.certificate.is_deal ? '已生成' : '未生成' }}
          </ng-container>
        </td>
        <td>{{ data.amount | _currency }}</td>
        <td>
          <a [routerLink]="['/financial/treaty/voucher', data.id]">凭证详情</a>
        </td>
      </tr>
    </tbody>
  </nz-table>

</nz-card>