<!-- 供应商信息列表  多选操作 功能已去掉 -->
<div class="steps-content-box">
  
  <app-project-info-show-c [projectInfo]="projectInfo"></app-project-info-show-c>

  <!-- <nz-card nzTitle="合约" [extra]="contractAddTpl">
    <ng-template #contractAddTpl>
      <button class="mr-lg" nz-button [nzType]="'primary'" (click)="addSupplier()">新增</button>
    </ng-template>

  </nz-card> -->

  <app-supplier-contract-list [projectInfo]="projectInfo" [supplierList]="supplierList"></app-supplier-contract-list>

  <app-supplier-no-contract-list [projectInfo]="projectInfo" [supplierList]="supplierList"></app-supplier-no-contract-list>


  <div class="steps-operate mt-md mb-md text-right">
    <a nz-button (click)="prevSteps()">上一步</a>
    <button nz-button nzType="primary" (click)="nextSteps()">下一步</button>
  </div>
</div>