<page-header></page-header>

<nz-card>
  <app-financial-processing-voucher-search-component (selectProjectChange)="selectProjectChange($event)"
    (searchValueChange)="searchValueChange($event)"></app-financial-processing-voucher-search-component>

  <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
    [nzTotal]="total" [(nzPageIndex)]="pageOption.page" [(nzPageSize)]="pageOption.page_size"
    (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)" class="mt-md">
    <thead>
      <tr>
        <th>项目</th>
        <th>申请人/部门</th>
        <th>合同名称</th>
        <th>凭证开具状态</th>
        <th>凭证总金额</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ajaxTable.data; let i = index">
        <td>
          {{ data.project.name }}
          <!-- <div class="mb-xs"><span class="font-weight-bold">项目名称：</span>{{ data.project.name }}</div> -->
          <!-- <div class="mb-xs"><span class="font-weight-bold">状态：</span>{{ data.status.name }}</div> -->
        </td>
        <td>
          <div class="mb-xs"><span class="font-weight-bold">申请人：</span>{{ data.user.department?.name }}</div>
          <div class="mb-xs"><span class="font-weight-bold">部&nbsp;&nbsp;&nbsp;&nbsp;门：</span>{{ data.user.name }}</div>
        </td>
        <td>{{ data.deal.contract.name }}</td>
        <td>
          <ng-container *ngIf="data.certificate">
            {{ data.certificate.is_deal ? '已生成' : '未生成' }}
          </ng-container>
        </td>
        <td class="text-nowrap">{{ data.amount | _currency }}</td>
        <td>
          <a [routerLink]="['/financial/contract/voucher', data.id]">凭证详情</a>
        </td>
      </tr>
    </tbody>
  </nz-table>

</nz-card>