<page-header></page-header>

<app-income-search-component [COMPANY]="companyArray" (companyValueChange)="companyValueChange($event)" (searchOptionsEmit)="searchOptionsChange($event)" (addContentEmit)="add()"></app-income-search-component>

<nz-table #basicTable [nzData]="listOfData" [nzLoading]="loading" class="mt-md hidden-mobile">
    <thead>
        <tr>
            <th>序号</th>
            <th>名称</th>
            <th>开票</th>
            <th>从属</th>
            <th>备注</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let data of basicTable.data;let i = index">
            <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ data.name }}</td>
                <td>
                    <sv-container size="small" col="1">
                        <sv label="方式">{{ data.invoice.name }}</sv>
                        <sv label="税率"><span class="text-error">{{ data.rate }}</span></sv>
                    </sv-container>
                </td>
                <td>
                    <sv-container size="small" col="1">
                        <sv label="部门">{{ data.department.name }}</sv>
                        <sv label="单位">{{ data.company.name }}</sv>
                    </sv-container>
                </td>
                <td>
                    <span [innerHTML]="data.remark | showTextareaContent"></span>
                </td>
                <td>
                    <span [innerHTML]="data.active | yn"></span>
                </td>
                <td>
                    <a (click)="edit(data)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
                    
                    <nz-divider nzType="vertical"></nz-divider>

                    <a (click)="showNodeList(data.id)" class="text-nowrap">税目明细<i nz-icon
                        nzType="{{ showExpand[data.id] ? 'caret-up' : 'caret-down' }}" nzTheme="outline"></i></a>

                    <nz-divider nzType="vertical"></nz-divider>
                    <ng-container *ngIf="data.active; else activeFalse">
                        <a (click)="disabled(data.id)" class="text-error text-nowrap">禁用</a>
                    </ng-container>
                    <ng-template #activeFalse>
                        <a (click)="enabled(data.id)" class="text-nowrap">启用</a>
                    </ng-template>
                </td>
            </tr>
            <tr *ngIf="showExpand[data.id]" style="background-color: #f1f1f1;">
                <td colspan="7">
                <app-pro-subincome-list-c [tax]="data"></app-pro-subincome-list-c>
                </td>
            </tr>
        </ng-container>
    </tbody>
</nz-table>
<div class="hidden-pc mt-md">
    <div *ngIf="loading && listOfData.length === 0" class="p-md text-center">
        <nz-spin nzSimple></nz-spin>
    </div>
    <div *ngIf="!loading && listOfData.length !== 0">
        <ng-container *ngFor="let data of listOfData">
            <nz-card [nzActions]="[actionEdit, actionManage]" class="mt-sm">
                <nz-skeleton [nzActive]="true" [nzLoading]="loading">
                    <nz-card-meta [nzTitle]="data.name"></nz-card-meta>
                    <div class="pt-md">
                        <sv-container size="small">
                            <sv label="方式">{{ data.invoice.name }}</sv>
                            <sv label="税率"><span class="text-error">{{ data.rate }}</span></sv>
                            <sv label="部门">{{ data.department.name }}</sv>
                            <sv label="单位">{{ data.company.name }}</sv>
                            <sv label="描述"><span [innerHTML]="data.remark | showTextareaContent"></span></sv>
                        </sv-container>
                    </div>
                </nz-skeleton>
                <ng-template #actionEdit>
                    <a (click)="edit(data)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
                </ng-template>
                <ng-template #actionManage>
                    <ng-container *ngIf="data.active; else activeFalse">
                        <a (click)="disabled(data.id)" class="text-error">禁用</a>
                    </ng-container>
                    <ng-template #activeFalse>
                        <a (click)="enabled(data.id)">启用</a>
                    </ng-template>
                </ng-template>
            </nz-card>
        </ng-container>
    </div>
</div>