<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form search-option-form">
    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-control>
                    <input nz-input placeholder="输入名称查询" formControlName="name" id="name" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-control>
                    <input nz-input placeholder="输入编码查询" formControlName="code" id="code" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-control>
                    <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="请选择性质" formControlName="nature" id="nature">
                        <ng-container *ngFor="let item of settingsConfigService.configs.companyNature">
                            <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                        </ng-container>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <!-- <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzFor="active">状态</nz-form-label>
                <nz-form-control>
                    <nz-radio-group formControlName="active" id="active">
                        <label nz-radio [nzValue]="-1">不限</label>
                        <label nz-radio [nzValue]="true">是</label>
                        <label nz-radio [nzValue]="false">否</label>
                      </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
        </div> -->
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button [nzType]="'primary'" (click)="submit()">查询</button>
            <button  nz-button (click)="resetForm()" class="ml-sm">清空条件</button >
        </div>
    </div>
</form>