<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>项目名称</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请输入项目名称">
            <input nz-input id="name" formControlName="name" placeholder="输入项目名称" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="code" nzRequired>项目编号</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请输入项目编号">
            <input nz-input id="code" formControlName="code" placeholder="输入项目编号" />
        </nz-form-control>
    </nz-form-item>
    <ng-container *ngIf="!data">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="company" nzRequired>所在单位</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请选择职位所在单位">
                <nz-select style="width: 100%;" id="company" nzPlaceHolder="请选择所在单位" [nzDisabled]="companyId" formControlName="company_id">
                    <ng-container *ngFor="let item of COMPANY">
                        <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                    </ng-container>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="department_id" nzRequired>所属部门</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请选择职位所属部门">
                <nz-select style="width: 100%;" id="department_id" nzPlaceHolder="请选择所属部门" [nzDisabled]="departmentId" formControlName="department_id">
                    <ng-container *ngFor="let item of departmentArray">
                        <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                    </ng-container>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </ng-container>
    <!-- <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sequence">排序</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-input-number id="sequence" formControlName="sequence" [nzMin]="1" [nzStep]="1"></nz-input-number>
        </nz-form-control>
    </nz-form-item> -->
    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="18" [nzOffset]="6">
            <button nz-button nzType="primary">{{ data ? '保存' : '新增' }}</button>
        </nz-form-control>
    </nz-form-item>
</form>