<div class="hidden-mobile">
    <app-approve-search-option (searchOptionsEmit)="searchOptionsChange($event)"></app-approve-search-option>
</div>
<nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
    [nzTotal]="total" [(nzPageIndex)]="pageOption.page" [(nzPageSize)]="pageOption.page_size"
    (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)"
    class="mt-md hidden-mobile">
    <thead>
        <tr>
            <th nzWidth="80px">序号</th>
            <th>收款信息</th>
            <th>支付信息</th>
            <th>项目信息</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of ajaxTable.data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
                <sv-container size="small" col="1">
                    <sv label="收款单位/个人"><span class="font-weight-bold">{{ data.pay_company }}</span></sv>
                    <sv label="银行名称"><span>{{ data.bank_name }}</span></sv>
                    <sv label="银行账号"><span>{{ data.bank_account }}</span></sv>
                </sv-container>
            </td>
            <td>
                <sv-container size="small" col="1">
                    <sv label="成本总额"><span class="text-nowrap">{{ data.before_deduct_amount | _currency }}</span></sv>
                    <sv label="抵扣情况">
                        <span class="text-nowrap"
                            *ngIf="data.if_write_off;else notWriteOff">{{ data.write_off_amount | currency: 'CNY' }}</span>
                        <ng-template #notWriteOff>
                            <span class="font-weight-bold">无冲抵</span>
                        </ng-template>
                    </sv>
                    <sv label="待支付金额"><span class="text-nowrap">{{ data.amount | _currency }}</span></sv>
                </sv-container>

            </td>
            <td>{{ data.project?.name }}</td>
            <td>
                <!-- <nz-divider nzType="vertical"></nz-divider> -->
                <a (click)="view(data)"><i nz-icon nzType="eye" nzTheme="outline"></i></a>
            </td>
        </tr>
    </tbody>
</nz-table>
<div class="hidden-pc mt-md">
    <div *ngIf="loading && listOfData.length === 0" class="p-md text-center">
        <nz-spin nzSimple></nz-spin>
    </div>
    <div *ngIf="!loading && listOfData.length !== 0">
        <ng-container *ngFor="let data of listOfData">
            <nz-card [nzActions]="[actionEdit]" class="mt-md">
                <nz-skeleton [nzActive]="true" [nzLoading]="false">
                    <nz-card-meta [nzTitle]="treatyTitltTpl"></nz-card-meta>
                    <ng-template #treatyTitltTpl>
                        <span>{{ data.pay_company }}</span>
                    </ng-template>
                    <div class="pt-md">
                        <sv-container size="small" col="1">
                            <!-- <sv label="收款单位/个人"><span class="font-weight-bold">{{ data.pay_company }}</span></sv> -->
                            <sv label="银行名称"><span>{{ data.bank_name }}</span></sv>
                            <sv label="银行账号"><span>{{ data.bank_account }}</span></sv>
                            <sv label="成本总额"><span
                                    class="text-nowrap">{{ data.before_deduct_amount | _currency }}</span></sv>
                            <sv label="抵扣情况" class="text-nowrap">
                                <span
                                    *ngIf="data.if_write_off;else notWriteOff">{{ data.write_off_amount | currency: 'CNY' }}</span>
                                <ng-template #notWriteOff>
                                    <span class="font-weight-bold">无冲抵</span>
                                </ng-template>
                            </sv>
                            <sv label="待支付金额"><span class="text-nowrap">{{ data.amount | _currency }}</span></sv>
                            <sv label="项目名称"><span>{{ data.project?.name }}</span></sv>
                        </sv-container>
                    </div>
                </nz-skeleton>
                <ng-template #actionEdit>
                    <a (click)="view(data)"><i nz-icon nzType="eye" nzTheme="outline"></i></a>
                </ng-template>
            </nz-card>
        </ng-container>
        <div class="mt-md text-center">
            <nz-pagination [nzSize]="'small'" nzShowSizeChanger [(nzPageSize)]="pageOption.page_size"
                [nzPageIndex]="pageOption.page" [nzTotal]="total" (nzPageIndexChange)="pageIndexChange($event)"
                (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
        </div>
    </div>
</div>