<page-header [title]="'非合约支付申请'" [breadcrumb]="breadcrumb" [tab]="tab">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item><a [routerLink]="['/dashboard']">首页</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>非合约支付管理</nz-breadcrumb-item>
            <nz-breadcrumb-item>支付申请</nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>

    <ng-template #tab>
        <nz-tabset [nzSelectedIndex]="pos">
            <nz-tab *ngFor="let i of tabs" [nzTitle]="i.tab" (nzClick)="to(i)"></nz-tab>
        </nz-tabset>
    </ng-template>
</page-header>

<nz-card [nzBordered]="false">
    <router-outlet></router-outlet>
</nz-card>