<ng-container *ngIf="attachment && attachment.length !== 0; else emptyTpl">
    <sv-container *ngIf="attachment && attachment.length !== 0" size="small">
        <ng-container *ngFor="let attachmentCategory of attachment;let idx = index">
            <ng-container *ngIf="isShowName">
                <sv [label]="attachmentCategory.name" [col]="1" *ngIf="attachmentCategory.members.length !== 0">
                    <ng-container *ngFor="let attachment of attachmentCategory.members; let i = index">
                        <div class="clearfix bg-grey-light-h mb-sm pointer px-xs">
                            <span>{{ i + 1 }}. </span>
                            <a href="{{ environment.SERVER_URL + attachment.path }}"
                                class="bg-grey-light-h px-md text-nowrap pr-xs" target="_blank"><i nz-icon nzType="link"
                                    nzTheme="outline"></i>
                                {{ attachment.name }}<span class="ml-md">（<span
                                        class="text-error">{{ attachment.page_nums }}</span> 页）</span></a>
                        </div>
                    </ng-container>
                </sv>
            </ng-container>
            <ng-container *ngIf="!isShowName">
                <sv [col]="1" *ngIf="attachmentCategory.members.length !== 0">
                    <ng-container *ngFor="let attachment of attachmentCategory.members; let i = index">
                        <div class="clearfix bg-grey-light-h mb-sm pointer px-xs">
                            <span>{{ idx + 1 }}. </span>
                            <a href="{{ environment.SERVER_URL + attachment.path }}"
                                class="bg-grey-light-h px-md pr-xs text-nowrap" target="_blank"><i nz-icon nzType="link"
                                    nzTheme="outline"></i>
                                {{ attachment.name }}<span class="ml-md">（<span
                                        class="text-error">{{ attachment.page_nums }}</span> 页）</span></a>
                        </div>
                    </ng-container>
                </sv>
            </ng-container>
        </ng-container>
    </sv-container>

</ng-container>
<ng-template #emptyTpl>
    <div class="py-md font-weight-bold font-md">
        附件 <span class="text-error">（无）</span>
    </div>
</ng-template>