<ng-container *ngIf="attachment && attachment.length !== 0; else emptyTpl">
    <!-- <div class="category-list">

        <ng-container *ngFor="let attachmentCategory of attachment">
            <span class="mr-md point">
                {{ attachmentCategory.name }}&nbsp;
                <i *ngIf="attachmentCategory.members.length !== 0" class="text-primary text-md" nz-icon
                    nzType="check-square" nzTheme="outline"></i>
                <i *ngIf="attachmentCategory.members.length == 0" class="text-md" nz-icon nzType="border"
                    nzTheme="outline"></i>
                &nbsp;
            </span>
        </ng-container>
    </div> -->

                
    <sv-container *ngIf="attachment && attachment.length !== 0" size="small" class="mt-md">
        <ng-container *ngFor="let attachmentCategory of attachment">
            <sv [label]="attachmentCategory.name" [col]="1" *ngIf="attachmentCategory.members.length !== 0">
                <ng-container *ngFor="let attachment of attachmentCategory.members; let i = index">
                    <div class="clearfix bg-grey-light-h mb-sm pointer px-xs">
                        <span>{{ i + 1 }}. </span>
                        <a href="{{ environment.SERVER_URL + attachment.path }}" class="bg-grey-light-h px-md" target="_blank"><i nz-icon
                            nzType="link" nzTheme="outline" class="pr-xs"></i> {{ attachment.name }}</a>
                    </div>
                </ng-container>
            </sv>
        </ng-container>
    </sv-container>

</ng-container>
<ng-template #emptyTpl>
    <div class="py-md font-weight-bold font-md">
        附件 <span class="text-error">（无）</span>
    </div>
</ng-template>