<nz-card nzTitle="项目收入" [nzExtra]="createTemplate" class="ant-card__body-nopadding">
    <ng-template #createTemplate>
        <ng-container *ngIf="incomeList.length === 0">
            <button nz-button nzType="primary" (click)="add()">新增</button>
        </ng-container>
    </ng-template>

    <ng-container *ngFor="let data of incomeList; let i = index">

        <nz-table [nzData]="[1]" [nzShowPagination]="false" [nzFooter]="footerTpl">
            <thead>
                <tr>
                    <th>项目对象</th>
                    <th nzWidth="250px">单位名称</th>
                    <th>权责界定</th>
                    <th>费用及支付条件</th>
                    <th nzWidth="100px">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>甲方</td>
                    <td>{{ data.partyA }}</td>
                    <td><span [innerHTML]="data.partyA_power | showTextareaContent"></span></td>
                    <td><span [innerHTML]="data.partyA_condition | showTextareaContent"></span></td>
                    <td rowspan="2">
                        <a (click)="edit(data)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>

                        <nz-divider nzType="vertical"></nz-divider>

                        <a nz-popconfirm nzPopconfirmTitle="确定禁用当前项目收入？" (nzOnConfirm)="confirm(data.id)"
                            (nzOnCancel)="cancel()" class="text-error"><i nz-icon nzType="delete"
                                nzTheme="outline"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>乙方</td>
                    <td>{{ data.partyB }}</td>
                    <td><span [innerHTML]="data.partyB_power | showTextareaContent"></span></td>
                    <td><span [innerHTML]="data.partyB_condition | showTextareaContent"></span></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <app-project-income-type-amount [revenueId]="data.id" [taxList]="taxList" (incomeStatisticsChange)="incomeStatisticsChange($event)"></app-project-income-type-amount>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <ng-template #footerTpl>
            <div class="text-right" *ngIf="staticOpt">
                <span class="font-weight-bold">含税收入： {{ staticOpt.pro_income | _currency }}</span>
                <span class="font-weight-bold mx-md">税金合计： {{ staticOpt.tax_amount | _currency }}</span>
                <span class="font-weight-bold">不含税收入： {{ staticOpt.exclude_tax_income | _currency }}</span>
            </div>
        </ng-template>
    </ng-container>
</nz-card>