:host ::ng-deep {
    .alain-default__nav-item{
        nz-badge {
            color: #000;
            margin-right: 20px;
        }
        .ant-badge-count {
            right: 0;
        }
    }
    
}
.head-task-box {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #eee;
    display: inline-block;
    vertical-align: middle;
    background: url('/assets/imgs/message_bg.jpg') no-repeat left top;
    background-size: cover;
}

// 修改 移动端 样式
@import '~@delon/theme/styles/default';
@media screen and (max-width: @screen-sm) {
    .head-task-box {
        width: 24px;
        height: 24px;
    }
}