<nz-card [nzBordered]="false" class="mt-md" [nzTitle]="workflowStatusTitle">
    <ng-template #workflowStatusTitle>
      <span>执行进度</span>
      <span class="text-primary ml-md text-sm" [class.text-error]="progressInfo.workflow_status.name === '无法执行'">{{ progressInfo?.workflow_status.name }}</span>
    </ng-template>
    <ng-container *ngIf="nodeProcess.length !== 0;else nodeProcessLoadingTpl">
      <nz-steps nzDirection="vertical" nzProgressDot class="hidden-pc">
        <ng-container *ngFor="let process of nodeProcess">
          <nz-step [nzTitle]="process.name"
            [nzStatus]="!progressInfo?.complete ? 'process' : 'finish'"
            [nzDescription]="createDesc">
            <ng-template #createDesc>
              <div class="desc">
                <div class="my-sm">
                  执行人员：{{ process.name }}
                </div>
                <div *ngIf="process.complete; else notComplete">
                  {{ process.complete_time }}
                </div>
                <!-- <span class="text-sm text-primary"
                  [class.text-error]="process.finished && !process.is_execute">{{ process.remark }}</span> -->
                <ng-template #notComplete>
                  <!-- TODO:暂不开发 -->
                  <!-- <a *ngIf="process.current" (click)="msg.success('click')">催一下</a> -->
                </ng-template>
              </div>
            </ng-template>
          </nz-step>
        </ng-container>
        <nz-step [nzTitle]="'已结束'"
          [nzStatus]=" progressInfo?.complete ? 'finish' : 'wait'" [nzDescription]="finishedTpl">
          <ng-template #finishedTpl>
            <div class="my-sm" [class.text-error]="progressInfo.workflow_status.name === '无法执行'">{{progressInfo?.workflow_status.name}}</div>
            <div *ngIf="progressInfo?.complete">
              {{ progressInfo.complete_time }}
            </div>
          </ng-template>
        </nz-step>
      </nz-steps>
      <nz-steps nzProgressDot class="hidden-mobile">
        <ng-container *ngFor="let process of nodeProcess">
          <nz-step [nzTitle]="process.name"
          [nzStatus]="!progressInfo?.complete ? 'process' : 'finish'"
            [nzDescription]="createDesc">
            <ng-template #createDesc>
              <div class="desc">
                <div class="my-sm">
                    执行人员：{{ process.name }}
                  </div>
                  <div *ngIf="process.complete; else notComplete">
                    {{ process.complete_time }}
                  </div>
                <!-- <span class="text-sm text-primary" [class.text-error]="process.finished && !process.is_execute"
                  [innerHTML]="process.remark | showTextareaContent"></span> -->
                <ng-template #notComplete>
                  <!-- TODO:暂不开发 -->
                  <!-- <a *ngIf="process.current" (click)="msg.success('click')">催一下</a> -->
                </ng-template>
              </div>
            </ng-template>
          </nz-step>
        </ng-container>
        <nz-step [nzTitle]="'已结束'"
          [nzStatus]=" progressInfo?.complete ? 'finish' : 'wait'" [nzDescription]="finishedTpl">
          <ng-template #finishedTpl>
            <div class="my-sm" [class.text-error]="progressInfo.workflow_status.name === '无法执行'">{{progressInfo?.workflow_status.name}}</div>
            <div *ngIf="progressInfo?.complete">
              {{ progressInfo.complete_time }}
            </div>
          </ng-template>
        </nz-step>
      </nz-steps>
  
    </ng-container>
    <ng-template #nodeProcessLoadingTpl>
      <div class="p-xl text-center text-lg text-primary">
        <nz-spin></nz-spin>
      </div>
    </ng-template>
  
    <div class="steps-content" *ngIf="isExecuteUser && !progressInfo.complete">
      <div class="check-box mt-md">

        <form nz-form [formGroup]="validateForm">
          <nz-form-item>
            <nz-form-control nzErrorTip="请确认是否已经执行">
              <nz-radio-group formControlName="is_execute" [nzButtonStyle]="'solid'">
                <label nz-radio-button [nzValue]="'A'">已执行</label>
                <label nz-radio-button [nzValue]="'B'">无法执行</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
          <ng-container *ngIf="validateForm.get('is_execute').value === 'B'">
            <nz-form-item>
              <nz-form-control nzErrorTip="请填写无法执行的原因">
                  <textarea nz-input placeholder="请填写无法执行的原因" formControlName="remark"
                    [nzAutosize]="{ minRows: 3, maxRows: 6 }" class="my-sm"></textarea>
              </nz-form-control>
            </nz-form-item>
          </ng-container>
          <ng-container *ngIf="validateForm.get('is_execute').value === 'A'">
            <nz-form-item>
              <nz-form-control nzErrorTip="请填写开具的发票号码">
                <input nz-input placeholder="发票号码" formControlName="invoice_number" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="请填写开具的发票金额">
                <nz-input-group nzSuffix="RMB" nzPrefix="￥" style="width: 100%;">
                  <input type="text" nz-input placeholder="发票金额" formControlName="invoice_amount" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="请填写开具的发票税额">
                <nz-input-group nzSuffix="RMB" nzPrefix="￥" style="width: 100%;">
                  <input type="text" nz-input placeholder="发票税额" formControlName="tax_amount" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </ng-container>
          
          <div class="text-right mt-md">
            <a nz-popconfirm nz-button [nzType]="'primary'" nzPopconfirmTitle="请仔细核对执行情况"
              (nzOnConfirm)="submitForm()" (nzOnCancel)="cancel()">
              提交
            </a>
          </div>
        </form>

        <!-- <div class="text-right mt-md">
          <a nz-popconfirm nz-button [nzType]="'primary'" nzPopconfirmTitle="请仔细核对执行情况"
            (nzOnConfirm)="submitCheckCurrentProcess()" (nzOnCancel)="cancel()">
            提交
          </a>
        </div> -->
      </div>
    </div>
  </nz-card>