<nz-card [nzBordered]="false" class="mt-md" [nzTitle]="workflowStatusTitle">
  <ng-template #workflowStatusTitle>
    <span>执行进度</span>
    <span class="text-primary ml-md text-sm"
      [class.text-error]="progressInfo.workflow_status.name === '无法执行'">{{ progressInfo?.workflow_status.name }}</span>
  </ng-template>
  <ng-container *ngIf="nodeProcess.length !== 0;else nodeProcessLoadingTpl">
    <nz-steps nzDirection="vertical" nzProgressDot class="hidden-pc">
      <ng-container *ngFor="let process of nodeProcess">
        <nz-step [nzTitle]="progressInfo?.workflow_status.name"
          [nzStatus]="!progressInfo?.complete ? 'process' : 'finish'" [nzDescription]="createDesc">
          <ng-template #createDesc>
            <div class="desc">
              <div class="my-sm">
                执行人员：{{ process.name }}
              </div>
              <div *ngIf="process.complete; else notComplete">
                {{ process.complete_time }}
              </div>
              <!-- <span class="text-sm text-primary"
                  [class.text-error]="process.finished && !process.is_execute">{{ process.remark }}</span> -->
              <ng-template #notComplete>
                <!-- TODO:暂不开发 -->
                <!-- <a *ngIf="process.current" (click)="msg.success('click')">催一下</a> -->
              </ng-template>
            </div>
          </ng-template>
        </nz-step>
      </ng-container>
      <nz-step [nzTitle]="'已结束'" [nzStatus]=" progressInfo?.complete ? 'finish' : 'wait'" [nzDescription]="finishedTpl">
        <ng-template #finishedTpl>
          <div class="my-sm" [class.text-error]="progressInfo.workflow_status.name === '无法执行'">
            {{progressInfo?.workflow_status.name}}</div>
          <div *ngIf="progressInfo?.complete">
            {{ progressInfo.complete_time }}
          </div>
        </ng-template>
      </nz-step>
    </nz-steps>
    <nz-steps nzProgressDot class="hidden-mobile">
      <ng-container *ngFor="let process of nodeProcess">
        <nz-step [nzTitle]="process.workflow_status.name" [nzStatus]="!progressInfo?.complete ? 'process' : 'finish'"
          [nzDescription]="createDesc">
          <ng-template #createDesc>
            <div class="desc">
              <div class="my-sm">
                执行人员：{{ process.execute_user.name }}
              </div>
              <div *ngIf="process.complete; else notComplete">
                {{ process.complete_time }}
              </div>
              <!-- <span class="text-sm text-primary" [class.text-error]="process.finished && !process.is_execute"
                  [innerHTML]="process.remark | showTextareaContent"></span> -->
              <ng-template #notComplete>
                <!-- TODO:暂不开发 -->
                <!-- <a *ngIf="process.current" (click)="msg.success('click')">催一下</a> -->
              </ng-template>
            </div>
          </ng-template>
        </nz-step>
      </ng-container>
      <nz-step [nzTitle]="'已结束'" [nzStatus]=" progressInfo?.complete ? 'finish' : 'wait'" [nzDescription]="finishedTpl">
        <ng-template #finishedTpl>
          <div class="my-sm" [class.text-error]="progressInfo.workflow_status.name === '无法执行'">
            {{progressInfo?.workflow_status.name}}</div>
          <div *ngIf="progressInfo?.complete">
            {{ progressInfo.complete_time }}
          </div>
        </ng-template>
      </nz-step>
    </nz-steps>

  </ng-container>
  <ng-template #nodeProcessLoadingTpl>
    <div class="p-xl text-center text-lg text-primary">
      <nz-spin></nz-spin>
    </div>
  </ng-template>

  <div class="steps-content" *ngIf="isExecuteUser && !progressInfo.complete">
    <div class="check-box mt-md">
      <nz-radio-group *ngIf="contractInfo.pay_status?.name==='待执行'" [(ngModel)]="checkOption.status"
        [nzButtonStyle]="'solid'"
        [nzDisabled]="progressInfo.workflow_status.name === '无法执行' || progressInfo.workflow_status.name === '已完成'">
        <label nz-radio-button [nzValue]="'A'">已付款</label>
        <label nz-radio-button [nzValue]="'B'">已执行</label>
        <label nz-radio-button [nzValue]="'C'">无法执行</label>
      </nz-radio-group>
      <nz-radio-group *ngIf="contractInfo.pay_status?.name==='已付款'" [(ngModel)]="checkOption.status"
        [nzButtonStyle]="'solid'"
        [nzDisabled]="progressInfo.workflow_status.name === '无法执行' || progressInfo.workflow_status.name === '已完成'">
        <label nz-radio-button [nzValue]="'B'">已执行</label>
      </nz-radio-group>
      <ng-container *ngIf="checkOption.status ==='C'">
        <textarea nz-input placeholder="请填写无法执行的原因" [(ngModel)]="checkOption.remark"
          [nzAutosize]="{ minRows: 3, maxRows: 6 }" class="my-sm">
        </textarea>
      </ng-container>

      <div *ngIf="checkOption.status !== 'C'" style="margin-top: 4px;margin-bottom: 4px;">
        <!-- 选择付款后，需要补充填写资料信息 -->
        <div class="mt-md" *ngIf="paymentArr.length !== 0 && payInfo">
          <ng-container *ngIf="payType === 'treaty'">
            <app-payment-tax-manage [is_execute_user]="true" [payType]="payType" [payInfo]="payInfo"
              [paymentArray]="paymentArr" [billCategoryArray]="billCategoryArray" (submitFlag)="readSubmitFlag($event)"
              (refresh)="refreshPage()">
            </app-payment-tax-manage>
          </ng-container>
          <ng-container *ngIf="payType === 'contract'">
            <!-- <app-payment-tax-manage [is_execute_user]="true" [payType]="payType" [payInfo]="payInfo" [paymentArray]="paymentArr" [billCategoryArray]="billCategoryArray"></app-payment-tax-manage> -->
            <app-payment-contract-tax-mange [listOfData]="listOfData" [contract_pay_id]="contract_pay_id"
              (outer)="readOuter($event)" (contractInformation)="readContractInfo($event)">
            </app-payment-contract-tax-mange>
          </ng-container>

        </div>
        <!-- 选择付款后，需要补充填写资料信息 -->
      </div>
      <div class="text-right mt-md"
        *ngIf="progressInfo.workflow_status.name !== '无法执行' && progressInfo.workflow_status.name !== '已完成'">

        <ng-container *ngIf="checkOption.status === 'C'">
          <a nz-popconfirm nz-button [nzType]="'primary'" nzPopconfirmTitle="是否确认当前支付无法执行？请详细说明原因！"
            (nzOnConfirm)="submitCheckCurrentProcess()" (nzOnCancel)="cancel()">
            提交（无法执行）
          </a>
        </ng-container>
        <ng-container *ngIf="checkOption.status !== 'C'">
          <a nz-popconfirm nz-button [nzType]="'primary'" nzPopconfirmTitle="请确认当前付款或者执行情况是否填写完整，确认请继续。"
            (nzOnConfirm)="submitCheckCurrentProcess()" (nzOnCancel)="cancel()" [disabled]="flag">
            提交
          </a>
        </ng-container>

      </div>
    </div>
  </div>

</nz-card>