<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form search-option-form">
    <div nz-row [nzGutter]="24">
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
            <nz-form-item>
                <nz-form-label nzFor="bill_category_id">发票类型</nz-form-label>
                <nz-form-control style="flex-grow: 1;">
                    <nz-select id="bill_category_id" nzShowSearch nzAllowClear [nzDisabled]="" nzPlaceHolder="请选择发票类型"
                        formControlName="bill_category_id">
                        <ng-container *ngFor="let item of bill_category">
                            <nz-option [nzLabel]="item.name" [nzValue]="item.id" [nzDisabled]=""></nz-option>
                        </ng-container>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
            <nz-form-item>
                <nz-form-label nzFor="customer_id">客户名称</nz-form-label>
                <nz-form-control style="flex-grow: 1;">
                    <nz-select id="customer_id" nzShowSearch nzAllowClear [nzDisabled]="" nzPlaceHolder="请选择客户名称"
                        formControlName="customer_id">
                        <ng-container *ngFor="let item of customer">
                            <nz-option [nzLabel]="item.name" [nzValue]="item.id" [nzDisabled]=""></nz-option>
                        </ng-container>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
            <nz-form-item>
                <nz-form-label nzFor="customer_contract_code">客户合同编码</nz-form-label>
                <nz-form-control style="flex-grow: 1;">
                    <input nz-input placeholder="输入客户合同编码查询" formControlName="customer_contract_code"
                        id="customer_contract_code" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
            <nz-form-item>
                <nz-form-label nzFor="tax_id">税&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目</nz-form-label>
                <nz-form-control style="flex-grow: 1;">
                    <nz-select id="tax_id" nzShowSearch nzAllowClear [nzDisabled]="" nzPlaceHolder="请选择税目"
                        formControlName="tax_id">
                        <ng-container *ngFor="let item of taxArr">
                            <nz-option [nzLabel]="item.name" [nzValue]="item.id" [nzDisabled]=""></nz-option>
                        </ng-container>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button [nzType]="'primary'" (click)="submit()">查询</button>
            <button nz-button (click)="resetForm()" class="ml-sm">清空条件</button>
        </div>
    </div>
</form>

<div class="hidden-mobile">
</div>
<nz-table #ajaxTable [nzData]="listOfData" [nzLoading]="loading" class="mt-md hidden-mobile">
    <thead>
        <tr>
            <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
                (nzCheckedChange)="checkAll($event)"></th>
            <th>编号</th>
            <th>发票类型</th>
            <th>金额(元)</th>
            <th>客户信息</th>
            <th>申请人</th>
            <th>状态</th>
            <th nzWidth="80px">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of ajaxTable.data; let i = index">
            <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
            <td>{{ data.number }}</td>
            <td>{{ data.bill_category.name }}</td>
            <td class="text-nowrap">{{ data.amount | currency: 'CNY' }}</td>
            <td>
                <sv-container size="small" col="1">
                    <sv label="单位">{{ data.customer.name }}</sv>
                    <sv label="地址">{{ data.customer.address }}</sv>
                    <sv label="电话">{{ data.customer.tel }}</sv>
                    <sv label="合同编号">{{ data.customer_contract_code }}</sv>
                </sv-container>
            </td>
            <td>
                <sv-container size="small" col="1">
                    <sv label="申请人">{{ data.user.name }}</sv>
                    <sv label="部&nbsp;&nbsp;&nbsp;门">{{ data.department.name }}</sv>
                    <sv label="公&nbsp;&nbsp;&nbsp;司">{{ data.company.name }}</sv>
                </sv-container>
            </td>
            <td *ngIf="data.certificate.is_deal" class="text-primary text-nowrap">已生成</td>
            <td *ngIf="!data.certificate.is_deal" class="text-primary text-nowrap">未生成</td>
            <td>
                <!-- approve/view/ -->
                <a [routerLink]="['/financial/contract/voucher', data.id]"><i nz-icon nzType="eye"
                        nzTheme="outline"></i></a>
            </td>
        </tr>
    </tbody>
</nz-table>
<div class="hidden-pc mt-md">
    <div *ngIf="loading && listOfData.length === 0" class="p-md text-center">
        <nz-spin nzSimple></nz-spin>
    </div>
    <div *ngIf="!loading && listOfData.length !== 0">
        <ng-container *ngFor="let data of listOfData">
            <nz-card [nzActions]="[actionEdit]" class="mt-md">
                <nz-skeleton [nzActive]="true" [nzLoading]="false">
                    <nz-card-meta [nzTitle]="treatyTitltTpl"></nz-card-meta>
                    <ng-template #treatyTitltTpl>
                        <span>{{ data.bill_category.name }}</span>
                        <span class="text-primary text-xs ml-md" [class.text-error]="data.bill_status?.name === '未通过'"
                            [class.text-success]="data.bill_status?.name === '已通过'">{{ data.bill_status?.name }}</span>
                    </ng-template>
                    <div class="pt-md">
                        <sv-container size="small">
                            <sv label="发票金额"><span
                                    class="font-weight-bold text-nowrap">{{ data.amount | currency: 'CNY' }}</span>
                            </sv>
                            <sv label="申请人">{{ data.user.name }}</sv>
                            <sv label="部&nbsp;&nbsp;&nbsp;门">{{ data.department.name }}</sv>
                            <sv label="公&nbsp;&nbsp;&nbsp;司">{{ data.company.name }}</sv>
                            <sv label="开票单位">{{ data.customer.name }}</sv>
                            <sv label="开票地址">{{ data.customer.address }}</sv>
                        </sv-container>
                    </div>
                </nz-skeleton>
                <ng-template #actionEdit>
                    <a [routerLink]="['/bill/approve/view', data.id]" [queryParams]="{ project_id: data.project.id }"><i
                            nz-icon nzType="eye" nzTheme="outline"></i></a>
                </ng-template>
            </nz-card>
        </ng-container>
        <div class="mt-md text-center">
            <nz-pagination [nzSize]="'small'" nzShowSizeChanger [(nzPageSize)]="pageOption.page_size"
                [nzPageIndex]="pageOption.page" [nzTotal]="total" (nzPageIndexChange)="pageIndexChange($event)"
                (nzPageSizeChange)="pageSizeChange($event)"></nz-pagination>
        </div>
    </div>
</div>