<page-header [title]="'我的发票'" [breadcrumb]="breadcrumb" [tab]="tab">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item><a [routerLink]="['/dashboard']">首页</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>发票管理</nz-breadcrumb-item>
            <nz-breadcrumb-item>我的发票</nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>

    <ng-template #tab>
        <nz-tabset [nzSelectedIndex]="pos">
            <nz-tab *ngFor="let i of tabs" [nzTitle]="i.name" (nzClick)="to(i)">
            </nz-tab>
        </nz-tabset>
    </ng-template>
</page-header>

<nz-card [nzBordered]="false">
    <!-- <router-outlet></router-outlet> -->
    <!-- <app-bill-list-search [type_id]="type_id" [type_name]="type_name" [page]="this.pageOption.page"
        [page_size]="this.pageOption.page_size" (outer)="readOuter()"></app-bill-list-search> -->
    <app-my-bill-search [type_id]="type_id" [type_name]="type_name" [page]="this.pageOption.page"
        [page_size]="this.pageOption.page_size" (outer)="readOuter()"></app-my-bill-search>
</nz-card>