<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form search-option-form">
    <div nz-row [nzGutter]="24">
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
            <nz-form-item>
                <nz-form-label nzFor="project_name">项目名称</nz-form-label>
                <nz-form-control style="flex-grow: 1;">
                    <input nz-input placeholder="请输入项目名称" formControlName="project_name" id="project_name" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
            <nz-form-item>
                <nz-form-label nzFor="project_number">项目编号</nz-form-label>
                <nz-form-control style="flex-grow: 1;">
                    <input nz-input placeholder="请输入项目编号" formControlName="project_number" id="project_number" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button [nzType]="'primary'" (click)="submit()">查询</button>
            <button nz-button (click)="resetForm()" class="ml-sm">清空条件</button>
        </div>
    </div>
</form>

<nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
    [nzTotal]="total" [(nzPageIndex)]="pageOption.page" [(nzPageSize)]="pageOption.page_size"
    (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)" class="mt-md">
    <thead>
        <tr>
            <th nzWidth="80px">序号</th>
            <th>项目编号</th>
            <th>基本信息</th>
            <th>创建人信息</th>
            <th nzWidth="80px">状态</th>
            <th nzWidth="200px">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of ajaxTable.data; let i = index">
            <td>{{ i + 1 }}</td>
            <td *ngIf="data.project.number">{{ data.project.number }}</td>
            <td *ngIf="!data.project.number">/</td>
            <td>
                <sv-container size="small" col="1">
                    <sv label="项目名称">{{ data.project.name }}</sv>
                    <sv label="项目类型">{{ data.project.category.name }}</sv>
                    <sv label="项目来源">{{ data.project.origin.code.code_name + data.project.origin.code.name }}</sv>
                </sv-container>
            </td>
            <td>
                <sv-container size="small" col="1">
                    <sv label="创建人">{{ data.project.user.name }}</sv>
                    <sv label="部门">{{ data.project.department.name }}</sv>
                    <sv label="单位">{{ data.project.company.name }}</sv>
                </sv-container>
            </td>
            <td class="text-primary text-nowrap">{{ data.adjustment_status.name }}</td>
            <td>
                <ng-container *ngIf="swithFlag">
                    <a (click)="edit(data)" class="text-nowrap">
                        <i nz-icon nz-tooltip nzTooltipTitle="项目调整" nzType="edit" nzTheme="outline"></i>
                    </a>
                    <nz-divider nzType="vertical"></nz-divider>
                </ng-container>
                <a (click)="view(data)"><i nz-icon nz-tooltip nzTooltipTitle="查看调整详情" nzType="eye"
                        nzTheme="outline"></i></a>

                <ng-container *ngIf="swithFlag">
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-popconfirm class="text-error text-nowrap" nzPopconfirmTitle="是否确认删除当前项目调整信息？"
                        (nzOnConfirm)="deletedProject(data.id)" (nzOnCancel)="cancel()">
                        删除
                    </a>
                </ng-container>
            </td>
        </tr>
    </tbody>
</nz-table>