<page-header title="项目调整" [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item><a [routerLink]="['/dashboard']">首页</a></nz-breadcrumb-item>
            <nz-breadcrumb-item><a [routerLink]="['/adjust/my']">我的项目</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>项目调整</nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>
</page-header>

<nz-card>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzMd]="12" [nzSm]="24">
                <nz-form-item>
                    <nz-form-label nzFor="category_name">调整模块</nz-form-label>
                    <nz-form-control>
                        <nz-select style="width: 100%;" id="category_name" nzShowSearch
                            nzPlaceHolder="请选择调整模块" formControlName="category_name">
                            <ng-container *ngFor="let item of stepsCategory">
                                <nz-option [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                            </ng-container>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzMd]="12" [nzSm]="24">
                <nz-form-item nz-row>
                    <nz-form-control [nzSpan]="24">
                        <button nz-button nzType="primary" [disabled]="stepsCategoryLoading[validateForm.get('category_name').value]" [nzLoading]="adjustLoading">生成调整表</button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>

    <div class="mt-lg">
        <!-- // 项目信息调整. 项目收入调整. 补贴收入调整. 成本调整. 合约调整. 非合约调整 -->
        <ng-container *ngIf="validateForm.get('category_name').value === '项目信息调整'">
            <app-adjust-base-info-show [projectInfo]="projectInfo"></app-adjust-base-info-show>
            <app-adjust-base-info *ngIf="stepsCategoryLoading[validateForm.get('category_name').value]" [adjustInfo]="adjustInfo" [submitLoading]="submitLoading" [configs]="configs" (adjustmentChange)="adjustmentChange($event)"></app-adjust-base-info>
        </ng-container>
        <ng-container *ngIf="validateForm.get('category_name').value === '项目收入调整'">
            <app-adjust-project-income-show [projectInfo]="projectInfo"></app-adjust-project-income-show>
            <app-adjust-project-income *ngIf="stepsCategoryLoading[validateForm.get('category_name').value]" [adjustInfo]="adjustInfo" [submitLoading]="submitLoading" (adjustmentChange)="adjustmentChange($event)"></app-adjust-project-income>
        </ng-container>
        <ng-container *ngIf="validateForm.get('category_name').value === '补贴收入调整'">
            <app-adjust-subsidy-income-show [projectInfo]="projectInfo"></app-adjust-subsidy-income-show>
            <app-adjust-subsidy-income *ngIf="stepsCategoryLoading[validateForm.get('category_name').value]" [adjustInfo]="adjustInfo" [submitLoading]="submitLoading" (adjustmentChange)="adjustmentChange($event)"></app-adjust-subsidy-income>
        </ng-container>
        <ng-container *ngIf="validateForm.get('category_name').value === '成本调整'">
            <app-adjust-cost-show [projectInfo]="projectInfo"></app-adjust-cost-show>
            <app-adjust-cost *ngIf="stepsCategoryLoading[validateForm.get('category_name').value]" [adjustInfo]="adjustInfo" [submitLoading]="submitLoading" (adjustmentChange)="adjustmentChange($event)"></app-adjust-cost>
        </ng-container>
        <ng-container *ngIf="validateForm.get('category_name').value === '合约调整'">
            <app-adjust-contract-show [projectInfo]="projectInfo"></app-adjust-contract-show>
            <app-adjust-contract *ngIf="stepsCategoryLoading[validateForm.get('category_name').value]" [adjustInfo]="adjustInfo" [submitLoading]="submitLoading" (adjustmentChange)="adjustmentChange($event)"></app-adjust-contract>
        </ng-container>
        <ng-container *ngIf="validateForm.get('category_name').value === '非合约调整'">
            <app-adjust-treaty-show [projectInfo]="projectInfo"></app-adjust-treaty-show>
            <app-adjust-treaty *ngIf="stepsCategoryLoading[validateForm.get('category_name').value]" [adjustInfo]="adjustInfo" [submitLoading]="submitLoading" (adjustmentChange)="adjustmentChange($event)"></app-adjust-treaty>
        </ng-container>
    </div>
</nz-card>
