<page-header [title]="'项目非合约支付管理'" [breadcrumb]="breadcrumb" [action]="actionBtn">

  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a [routerLink]="['/dashboard']">首页</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>非合约支付管理</nz-breadcrumb-item>
      <nz-breadcrumb-item>非合约支付申请</nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/approve/no-contract/list']">项目列表</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>项目非合约支付管理</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>

  <ng-template #actionBtn>
    <!-- <button nz-button [nzType]="'primary'" (click)="addPayConstract()">新增合约支付</button> -->
  </ng-template>

  <!-- <sv-container size="small" col="2">
    <sv label="项目名称"><strong>{{ projectInfo?.name }}</strong></sv>
    <sv label="客户">
      <app-customer-company-show-list-c [customer]="projectInfo?.customer"></app-customer-company-show-list-c>
    </sv>
    <sv label="负责部门">{{ projectInfo?.department?.name }}</sv>
    <sv label="创建时间">{{ projectInfo?.create_time | date: 'yyyy/MM/dd HH:mm:ss' }}</sv>
    <sv label="项目创建人">{{ projectInfo?.user.name }}</sv>
  </sv-container> -->
  <app-project-info-show-tpl [projectInfo]="projectInfo"></app-project-info-show-tpl>

  <a nz-button [nzType]="'primary'" [routerLink]="['/approve/no-contract/list/apply/pay/create', projectId]"
    class="my-md">新增非合约支付</a>

</page-header>

<nz-card [nzBordered]="false" class="hidden-mobile">
  <nz-table #basicTable [nzData]="listOfData" [nzFrontPagination]="false">
    <thead>
      <tr>
        <th nzWidth="80px">序号</th>
        <th nzWidth="250px">支付对象</th>
        <th>编号</th>
        <th nzWidth="300px">收款信息</th>
        <th nzWidth="160px">支付金额（元）</th>
        <th nzWidth="160px">开票金额（元）</th>
        <th nzWidth="200px">冲抵情况</th>
        <th nzWidth="250px">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          {{ data.pay_company }}
        </td>
        <td>{{ data.number || '暂无' }}</td>
        <td>
          <sv-container size="small" col="1">
            <!-- <sv label="用户">{{ data.pay_company }}</sv> -->
            <sv label="银行">{{ data.bank_name }}</sv>
            <sv label="账号">{{ data.bank_account }}</sv>
          </sv-container>
        </td>
        <td>{{ data.amount | currency: 'CNY' }}</td>
        <td>{{ data.tax_use_amount | currency: 'CNY' }}</td>
        <td>
          <sv-container size="small" col="1">
            <sv label="冲销借款"><span>{{ data.if_write_off ? '有' : '无' }}</span></sv>
            <sv label="冲抵金额"><span>{{ data.if_write_off ? data.write_off_amount + '元' : '-' }}</span>
            </sv>
          </sv-container>
        </td>
        <td>
          <a [routerLink]="['/approve/no-contract/list/apply/pay/edit', projectId]"
            [queryParams]="{treaty_pay_id: data.id }"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-popconfirm nzPopconfirmTitle="确认禁用当前合约支付?" (nzOnConfirm)="disabled(data.id)" (nzOnCancel)="cancel()"
            class="text-error">禁用</a>
          <ng-container *ngIf="data.draft">
            <nz-divider nzType="vertical"></nz-divider>
            <a *ngIf="data.amount===data.tax_use_amount && data.amount!==0" nz-popconfirm nz-button [nzType]="'primary'"
              nzPopconfirmTitle="请确认非合约支付信息填写完整，无误后继续提交！！！" (nzOnConfirm)="submitContractPay(data.id)"
              (nzOnCancel)="cancel()">
              提交
            </a>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </nz-table>

</nz-card>

<div class="hidden-pc">
  <ng-container *ngFor="let data of listOfData">
    <nz-card [nzTitle]="treatyTitltTpl" [nzActions]="[ actionEdit, actionEllipsis]" class="mt-md">
      <nz-skeleton [nzActive]="true" [nzLoading]="false">
        <ng-template #treatyTitltTpl>
          <span>{{ data.pay_company }}</span>
        </ng-template>
        <div class="pt-md">
          <sv-container size="small">
            <sv label="非合约编号">{{data.number }}</sv>
            <!-- <sv label="收款用户">{{ data.pay_company }}</sv> -->
            <sv label="冲抵情况">
              <span *ngIf="data.if_write_off;else notWriteOff">{{ data.write_off_amount | currency: 'CNY' }}</span>
              <ng-template #notWriteOff>
                <span class="text-primary">无冲抵金额</span>
              </ng-template>
            </sv>
            <sv label="支付金额"><span>{{ data.amount | currency: 'CNY' }}</span></sv>
          </sv-container>
        </div>
      </nz-skeleton>
      <ng-template #actionEdit>
        <a [routerLink]="['/approve/no-contract/list/apply/pay/edit', projectId]" class="text-nowrap"
          [queryParams]="{treaty_pay_id: data.id }"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
      </ng-template>
      <ng-template #actionEllipsis>
        <a nz-popconfirm nzPopconfirmTitle="确认禁用当前合约支付?" (nzOnConfirm)="disabled(data.id)" (nzOnCancel)="cancel()"
          class="text-nowrap text-error">禁用</a>
      </ng-template>
    </nz-card>
  </ng-container>
</div>